In [1]:
import pandas as pd
import numpy as np

In [2]:
location_info = pd.read_csv('./location_info.csv')

In [3]:
location_info = location_info.T

In [4]:
location_info = location_info.loc[:,[3,7]]

In [5]:
location_info.rename(columns={3:'borough', 7: 'zip_code','index':'station_id'},inplace = True)

In [6]:
location_info.reset_index(inplace = True)

In [7]:
location_info.head()

   index    borough    zip_code
0  278.0   Brooklyn       11201
1  265.0  Manhattan  10012-3332
2  402.0  Manhattan       10010
3  348.0  Manhattan       10012
4  143.0   Brooklyn       11201

In [8]:
station_locations= pd.read_csv('./station_locations2.csv')

In [9]:
station_locations

      start_station_id                    station_name        lat        lon
0                257.0         Lispenard St & Broadway  40.719000 -74.002472
1                468.0              Broadway & W 55 St  40.764000 -73.983000
2                317.0               E 6 St & Avenue B  40.724537 -73.981854
3               3145.0              E 84 St & Park Ave  40.778627 -73.959000
4                174.0                 E 25 St & 1 Ave  40.737000 -73.977387
...                ...                             ...        ...        ...
1426            4275.0             21 Ave & Shore Blvd  40.783956 -73.916894
1427            3446.0  NYCBS Depot - STY - Valet Scan   0.000000   0.000000
1428            3385.0                2 Ave & E 105 St  40.789817 -73.942961
1429            4271.0                  31 Ave & 61 St  40.757525 -73.901614
1430            3633.0              333 Johnson TEST 1   0.000000   0.000000

[1431 rows x 4 columns]

In [14]:
station_locations[station_locations.isna().any(axis = 1)]

     start_station_id station_name     lat     lon
429               NaN          NaN  40.839 -73.923

In [11]:
merged = station_locations.merge(location_info, how = 'left', left_on = 'start_station_id',\
                                right_on = 'station_id')

KeyError: 'station_id'

In [12]:
station_locations.dtypes

start_station_id    float64
station_name         object
lat                 float64
lon                 float64
dtype: object

In [41]:
location_info['station_id'] = location_info['station_id'].astype(float)

In [38]:
location_info.drop(location_info[location_info['station_id'] =='Unnamed: 1401'].index,inplace = True)

In [48]:
merged.drop(['start_station_id'],inplace = True,axis = 1)

In [49]:
merged.head()

,station_name,lat,lon,station_id,borough,zip_code
0,Lispenard St & Broadway,40.719000,-74.002472,257.0,Manhattan,10003
1,Broadway & W 55 St,40.764000,-73.983000,468.0,Manhattan,10019
2,E 6 St & Avenue B,40.724537,-73.981854,317.0,Manhattan,10009
3,E 84 St & Park Ave,40.778627,-73.959000,3145.0,Manhattan,10028
4,E 25 St & 1 Ave,40.737000,-73.977387,174.0,Manhattan,10010