In [4]:
import pandas as pd
import numpy as np
import datetime

## Read in all the files from 2019

In [55]:
jan = pd.read_parquet('./parquet/2019-01-data.parquet')
feb = pd.read_parquet('./parquet/2019-02-data.parquet')
march = pd.read_parquet('./parquet/2019-03-data.parquet')
april = pd.read_parquet('./parquet/2019-04-data.parquet')
may = pd.read_parquet('./parquet/2019-05-data.parquet')
june = pd.read_parquet('./parquet/2019-06-data.parquet')
july = pd.read_parquet('./parquet/2019-07-data.parquet')
aug = pd.read_parquet('./parquet/2019-08-data.parquet')
sept = pd.read_parquet('./parquet/2019-09-data.parquet')
octo = pd.read_parquet('./parquet/2019-10-data.parquet')
nov = pd.read_parquet('./parquet/2019-11-data.parquet')
dec = pd.read_parquet('./parquet/2019-12-data.parquet')

In [56]:
year2019 = pd.concat([jan, 
                      feb, 
                      march, 
                      april, 
                      may, 
                      june, 
                      july, 
                      aug, 
                      sept, 
                      octo, 
                      nov, 
                      dec], axis=0)

In [4]:
year2019['bikeid'].nunique()

19571

In [5]:
year2019

,tripduration,started_at,ended_at,start_station_name,start_lat,start_lng,end_station_name,end_lat,end_lng,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,Central Park West & W 76 St,40.778968,-73.973747,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,Pershing Square North,40.751873,-73.977706,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,Amsterdam Ave & W 82 St,40.785247,-73.976673,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,1 Ave & E 16 St,40.732219,-73.981656,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,Great Jones St,40.727434,-73.993790,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
955205,93,2019-12-31 23:58:18.0160,2019-12-31 23:59:51.6360,1 Ave & E 68 St,40.765005,-73.958185,1 Ave & E 62 St,40.761227,-73.960940,28734,Subscriber,1985,2
955206,786,2019-12-31 23:58:59.8960,2020-01-01 00:12:06.3460,8 Ave & W 33 St,40.751551,-73.993934,W 56 St & 10 Ave,40.768254,-73.988639,41418,Subscriber,1991,1
955207,351,2019-12-31 23:59:03.6950,2020-01-01 00:04:54.8730,Grand Army Plaza & Plaza St West,40.672968,-73.970880,5 Ave & 3 St,40.672815,-73.983524,27746,Subscriber,1935,2
955208,1571,2019-12-31 23:59:21.3610,2020-01-01 00:25:32.9420,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,28506,Subscriber,1980,1
955209,310,2019-12-31 23:59:55.2960,2020-01-01 00:05:05.7270,E 102 St & 1 Ave,40.786995,-73.941648,E 103 St & Lexington Ave,40.790305,-73.947558,21013,Subscriber,1969,0

In [57]:
# changing year2019['started_at'].dtypes to datetime
year2019['started_at'] = pd.to_datetime(year2019['started_at'])
year2019['ended_at'] = pd.to_datetime(year2019['ended_at'])
year2019

,tripduration,started_at,ended_at,start_station_name,start_lat,start_lng,end_station_name,end_lat,end_lng,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.401,2019-01-01 00:07:07.581,Central Park West & W 76 St,40.778968,-73.973747,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.736,2019-01-01 00:10:00.608,Pershing Square North,40.751873,-73.977706,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.997,2019-01-01 00:15:55.438,Amsterdam Ave & W 82 St,40.785247,-73.976673,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.545,2019-01-01 00:52:22.650,1 Ave & E 16 St,40.732219,-73.981656,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.945,2019-01-01 00:12:39.502,Great Jones St,40.727434,-73.993790,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
955205,93,2019-12-31 23:58:18.016,2019-12-31 23:59:51.636,1 Ave & E 68 St,40.765005,-73.958185,1 Ave & E 62 St,40.761227,-73.960940,28734,Subscriber,1985,2
955206,786,2019-12-31 23:58:59.896,2020-01-01 00:12:06.346,8 Ave & W 33 St,40.751551,-73.993934,W 56 St & 10 Ave,40.768254,-73.988639,41418,Subscriber,1991,1
955207,351,2019-12-31 23:59:03.695,2020-01-01 00:04:54.873,Grand Army Plaza & Plaza St West,40.672968,-73.970880,5 Ave & 3 St,40.672815,-73.983524,27746,Subscriber,1935,2
955208,1571,2019-12-31 23:59:21.361,2020-01-01 00:25:32.942,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,28506,Subscriber,1980,1
955209,310,2019-12-31 23:59:55.296,2020-01-01 00:05:05.727,E 102 St & 1 Ave,40.786995,-73.941648,E 103 St & Lexington Ave,40.790305,-73.947558,21013,Subscriber,1969,0

In [7]:
year2019['started_at'].dtype

dtype('<M8[ns]')

In [58]:
# rounding up the datetime to minutes from milliseconds
year2019['started_at'] = year2019['started_at'].dt.floor('min')
year2019['ended_at'] = year2019['ended_at'].dt.floor('min')

In [10]:
year2019

,tripduration,started_at,ended_at,start_station_name,start_lat,start_lng,end_station_name,end_lat,end_lng,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:00,2019-01-01 00:07:00,Central Park West & W 76 St,40.778968,-73.973747,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:00,2019-01-01 00:10:00,Pershing Square North,40.751873,-73.977706,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:00,2019-01-01 00:15:00,Amsterdam Ave & W 82 St,40.785247,-73.976673,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:00,2019-01-01 00:52:00,1 Ave & E 16 St,40.732219,-73.981656,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:00,2019-01-01 00:12:00,Great Jones St,40.727434,-73.993790,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
955205,93,2019-12-31 23:58:00,2019-12-31 23:59:00,1 Ave & E 68 St,40.765005,-73.958185,1 Ave & E 62 St,40.761227,-73.960940,28734,Subscriber,1985,2
955206,786,2019-12-31 23:58:00,2020-01-01 00:12:00,8 Ave & W 33 St,40.751551,-73.993934,W 56 St & 10 Ave,40.768254,-73.988639,41418,Subscriber,1991,1
955207,351,2019-12-31 23:59:00,2020-01-01 00:04:00,Grand Army Plaza & Plaza St West,40.672968,-73.970880,5 Ave & 3 St,40.672815,-73.983524,27746,Subscriber,1935,2
955208,1571,2019-12-31 23:59:00,2020-01-01 00:25:00,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,28506,Subscriber,1980,1
955209,310,2019-12-31 23:59:00,2020-01-01 00:05:00,E 102 St & 1 Ave,40.786995,-73.941648,E 103 St & Lexington Ave,40.790305,-73.947558,21013,Subscriber,1969,0

In [16]:
year2019['started_at'].dt.date

0         2019-01-01
1         2019-01-01
2         2019-01-01
3         2019-01-01
4         2019-01-01
             ...
955205    2019-12-31
955206    2019-12-31
955207    2019-12-31
955208    2019-12-31
955209    2019-12-31
Name: started_at, Length: 20551697, dtype: object

In [60]:
# assigning season

def get_season(row):
    """
    convert date to month and day as integer (md), e.g. 4/21 = 421, 11/17 = 1117, etc.
    """
    m = row['started_at'].month * 100
    d = row['started_at'].day
    md = m + d

    if ((md >= 320) and (md <= 621)):
        s = 'spring' # spring
    elif ((md > 621) and (md < 923)):
        s = 'summer'  # summer
    elif ((md >= 923) and (md <= 1220)):
        s = 'autumm'  # fall
    elif ((md > 1220) or (md < 320)):
        s = 'winter'  # winter
    else:
        raise IndexError("Invalid date")

    return s

In [61]:
year2019['season'] = year2019.apply(lambda r: get_season(r), axis = 1)

In [62]:
year2019

,tripduration,started_at,ended_at,start_station_name,start_lat,start_lng,end_station_name,end_lat,end_lng,bikeid,usertype,birth year,gender,season
0,320,2019-01-01 00:01:00,2019-01-01 00:07:00,Central Park West & W 76 St,40.778968,-73.973747,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1,winter
1,316,2019-01-01 00:04:00,2019-01-01 00:10:00,Pershing Square North,40.751873,-73.977706,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1,winter
2,591,2019-01-01 00:06:00,2019-01-01 00:15:00,Amsterdam Ave & W 82 St,40.785247,-73.976673,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1,winter
3,2719,2019-01-01 00:07:00,2019-01-01 00:52:00,1 Ave & E 16 St,40.732219,-73.981656,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1,winter
4,303,2019-01-01 00:07:00,2019-01-01 00:12:00,Great Jones St,40.727434,-73.993790,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1,winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955205,93,2019-12-31 23:58:00,2019-12-31 23:59:00,1 Ave & E 68 St,40.765005,-73.958185,1 Ave & E 62 St,40.761227,-73.960940,28734,Subscriber,1985,2,winter
955206,786,2019-12-31 23:58:00,2020-01-01 00:12:00,8 Ave & W 33 St,40.751551,-73.993934,W 56 St & 10 Ave,40.768254,-73.988639,41418,Subscriber,1991,1,winter
955207,351,2019-12-31 23:59:00,2020-01-01 00:04:00,Grand Army Plaza & Plaza St West,40.672968,-73.970880,5 Ave & 3 St,40.672815,-73.983524,27746,Subscriber,1935,2,winter
955208,1571,2019-12-31 23:59:00,2020-01-01 00:25:00,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,28506,Subscriber,1980,1,winter
955209,310,2019-12-31 23:59:00,2020-01-01 00:05:00,E 102 St & 1 Ave,40.786995,-73.941648,E 103 St & Lexington Ave,40.790305,-73.947558,21013,Subscriber,1969,0,winter

In [64]:
year2019['season'].nunique()

4

In [65]:
year2019['tripduration'] = (year2019['tripduration']/3600)

In [38]:
# sample of getting distance 

import haversine as hs
from haversine import Unit
loc1 = (28.426846, 77.088834)
loc2 = (28.394231, 77.050308)
hs.haversine(loc1, loc2, unit = Unit.MILES)

3.2495929643035977

In [66]:
# getting manhattan distance between start & end for every ride recorded in data

def manhattandistance(row):
    """
    calculate manhattan distance with lat & lng coordinates 
    & convert to miles
    
    """
    sla = row['start_lat']
    slo = row['start_lng']
    ela = row['end_lat']
    elo = row['end_lng']
    d1 = hs.haversine((sla, slo), (ela, slo), unit = Unit.MILES)
    d2 = hs.haversine((ela, slo), (ela, elo), unit = Unit.MILES)
    return d1 + d2

In [51]:
# trying to see if the function would work on a subset of data
sub = year2019.iloc[0:5,]
sub['citydist'] = sub.apply(lambda r: manhattandistance(r), axis = 1)
sub

/Users/junglim/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,tripduration,started_at,ended_at,start_station_name,start_lat,start_lng,end_station_name,end_lat,end_lng,bikeid,usertype,birth year,gender,season,citydist
0,5.33,2019-01-01 00:01:00,2019-01-01 00:07:00,Central Park West & W 76 St,40.778968,-73.973747,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1,winter,0.813646
1,5.27,2019-01-01 00:04:00,2019-01-01 00:10:00,Pershing Square North,40.751873,-73.977706,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1,winter,0.504362
2,9.85,2019-01-01 00:06:00,2019-01-01 00:15:00,Amsterdam Ave & W 82 St,40.785247,-73.976673,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1,winter,1.784014
3,45.32,2019-01-01 00:07:00,2019-01-01 00:52:00,1 Ave & E 16 St,40.732219,-73.981656,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1,winter,1.176102
4,5.05,2019-01-01 00:07:00,2019-01-01 00:12:00,Great Jones St,40.727434,-73.993790,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1,winter,1.077253

In [67]:
year2019['citydist'] = year2019.apply(lambda r: manhattandistance(r), axis = 1)

In [68]:
year2019

,tripduration,started_at,ended_at,start_station_name,start_lat,start_lng,end_station_name,end_lat,end_lng,bikeid,usertype,birth year,gender,season,citydist
0,0.088889,2019-01-01 00:01:00,2019-01-01 00:07:00,Central Park West & W 76 St,40.778968,-73.973747,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1,winter,0.813646
1,0.087778,2019-01-01 00:04:00,2019-01-01 00:10:00,Pershing Square North,40.751873,-73.977706,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1,winter,0.504362
2,0.164167,2019-01-01 00:06:00,2019-01-01 00:15:00,Amsterdam Ave & W 82 St,40.785247,-73.976673,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1,winter,1.784014
3,0.755278,2019-01-01 00:07:00,2019-01-01 00:52:00,1 Ave & E 16 St,40.732219,-73.981656,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1,winter,1.176102
4,0.084167,2019-01-01 00:07:00,2019-01-01 00:12:00,Great Jones St,40.727434,-73.993790,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1,winter,1.077253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955205,0.025833,2019-12-31 23:58:00,2019-12-31 23:59:00,1 Ave & E 68 St,40.765005,-73.958185,1 Ave & E 62 St,40.761227,-73.960940,28734,Subscriber,1985,2,winter,0.405221
955206,0.218333,2019-12-31 23:58:00,2020-01-01 00:12:00,8 Ave & W 33 St,40.751551,-73.993934,W 56 St & 10 Ave,40.768254,-73.988639,41418,Subscriber,1991,1,winter,1.431146
955207,0.097500,2019-12-31 23:59:00,2020-01-01 00:04:00,Grand Army Plaza & Plaza St West,40.672968,-73.970880,5 Ave & 3 St,40.672815,-73.983524,27746,Subscriber,1935,2,winter,0.673104
955208,0.436389,2019-12-31 23:59:00,2020-01-01 00:25:00,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,28506,Subscriber,1980,1,winter,4.246881
955209,0.086111,2019-12-31 23:59:00,2020-01-01 00:05:00,E 102 St & 1 Ave,40.786995,-73.941648,E 103 St & Lexington Ave,40.790305,-73.947558,21013,Subscriber,1969,0,winter,0.537868

In [69]:
year2019.groupby(['season', 'usertype', 'gender']).agg({'tripduration': np.mean,
                                                        'citydist': np.mean})

                          tripduration  citydist
season usertype   gender
autumm Customer   0           0.599200  1.569364
                  1           0.406063  1.551200
                  2           0.496128  1.587711
       Subscriber 0           0.222522  1.343627
                  1           0.204835  1.326162
                  2           0.224904  1.377781
spring Customer   0           0.715629  1.615507
                  1           0.587839  1.652994
                  2           0.641646  1.672092
       Subscriber 0           0.260060  1.432588
                  1           0.225700  1.395983
                  2           0.257923  1.460738
summer Customer   0           0.691661  1.605033
                  1           0.445835  1.632741
                  2           0.530315  1.651727
       Subscriber 0           0.237348  1.436344
                  1           0.220660  1.395451
                  2           0.247632  1.476250
winter Customer   0           0.746750  1.498927
                  1           0.513190  1.452387
                  2           0.658499  1.516284
       Subscriber 0           0.224108  1.279434
                  1           0.193230  1.254391
                  2           0.221541  1.287133

In [70]:
year2019['vel'] = year2019['citydist']/year2019['tripduration']
year2019

,tripduration,started_at,ended_at,start_station_name,start_lat,start_lng,end_station_name,end_lat,end_lng,bikeid,usertype,birth year,gender,season,citydist,vel
0,0.088889,2019-01-01 00:01:00,2019-01-01 00:07:00,Central Park West & W 76 St,40.778968,-73.973747,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1,winter,0.813646,9.153522
1,0.087778,2019-01-01 00:04:00,2019-01-01 00:10:00,Pershing Square North,40.751873,-73.977706,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1,winter,0.504362,5.745895
2,0.164167,2019-01-01 00:06:00,2019-01-01 00:15:00,Amsterdam Ave & W 82 St,40.785247,-73.976673,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1,winter,1.784014,10.867092
3,0.755278,2019-01-01 00:07:00,2019-01-01 00:52:00,1 Ave & E 16 St,40.732219,-73.981656,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1,winter,1.176102,1.557178
4,0.084167,2019-01-01 00:07:00,2019-01-01 00:12:00,Great Jones St,40.727434,-73.993790,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1,winter,1.077253,12.799044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955205,0.025833,2019-12-31 23:58:00,2019-12-31 23:59:00,1 Ave & E 68 St,40.765005,-73.958185,1 Ave & E 62 St,40.761227,-73.960940,28734,Subscriber,1985,2,winter,0.405221,15.685964
955206,0.218333,2019-12-31 23:58:00,2020-01-01 00:12:00,8 Ave & W 33 St,40.751551,-73.993934,W 56 St & 10 Ave,40.768254,-73.988639,41418,Subscriber,1991,1,winter,1.431146,6.554868
955207,0.097500,2019-12-31 23:59:00,2020-01-01 00:04:00,Grand Army Plaza & Plaza St West,40.672968,-73.970880,5 Ave & 3 St,40.672815,-73.983524,27746,Subscriber,1935,2,winter,0.673104,6.903631
955208,0.436389,2019-12-31 23:59:00,2020-01-01 00:25:00,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,28506,Subscriber,1980,1,winter,4.246881,9.731872
955209,0.086111,2019-12-31 23:59:00,2020-01-01 00:05:00,E 102 St & 1 Ave,40.786995,-73.941648,E 103 St & Lexington Ave,40.790305,-73.947558,21013,Subscriber,1969,0,winter,0.537868,6.246213

In [71]:
year2019.to_parquet('2019.parquet')

In [1]:
print('hell')

hell

In [5]:
df = pd.read_parquet('2019.parquet')
df

,tripduration,started_at,ended_at,start_station_name,start_lat,start_lng,end_station_name,end_lat,end_lng,bikeid,usertype,birth year,gender,season,citydist,vel
0,0.088889,2019-01-01 00:01:00,2019-01-01 00:07:00,Central Park West & W 76 St,40.778968,-73.973747,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1,winter,0.813646,9.153522
1,0.087778,2019-01-01 00:04:00,2019-01-01 00:10:00,Pershing Square North,40.751873,-73.977706,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1,winter,0.504362,5.745895
2,0.164167,2019-01-01 00:06:00,2019-01-01 00:15:00,Amsterdam Ave & W 82 St,40.785247,-73.976673,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1,winter,1.784014,10.867092
3,0.755278,2019-01-01 00:07:00,2019-01-01 00:52:00,1 Ave & E 16 St,40.732219,-73.981656,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1,winter,1.176102,1.557178
4,0.084167,2019-01-01 00:07:00,2019-01-01 00:12:00,Great Jones St,40.727434,-73.993790,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1,winter,1.077253,12.799044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955205,0.025833,2019-12-31 23:58:00,2019-12-31 23:59:00,1 Ave & E 68 St,40.765005,-73.958185,1 Ave & E 62 St,40.761227,-73.960940,28734,Subscriber,1985,2,winter,0.405221,15.685964
955206,0.218333,2019-12-31 23:58:00,2020-01-01 00:12:00,8 Ave & W 33 St,40.751551,-73.993934,W 56 St & 10 Ave,40.768254,-73.988639,41418,Subscriber,1991,1,winter,1.431146,6.554868
955207,0.097500,2019-12-31 23:59:00,2020-01-01 00:04:00,Grand Army Plaza & Plaza St West,40.672968,-73.970880,5 Ave & 3 St,40.672815,-73.983524,27746,Subscriber,1935,2,winter,0.673104,6.903631
955208,0.436389,2019-12-31 23:59:00,2020-01-01 00:25:00,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,28506,Subscriber,1980,1,winter,4.246881,9.731872
955209,0.086111,2019-12-31 23:59:00,2020-01-01 00:05:00,E 102 St & 1 Ave,40.786995,-73.941648,E 103 St & Lexington Ave,40.790305,-73.947558,21013,Subscriber,1969,0,winter,0.537868,6.246213

In [167]:
subdf = df.groupby(['start_station_name', 'start_lat']).agg({"start_lng": "unique"})
enddf = df.groupby(['end_station_name', 'end_lat']).agg({"end_lng": "unique"})

In [168]:
subdf['start_lng'] = subdf['start_lng'].str[0]
enddf['end_lng'] = enddf['end_lng'].str[0]

In [169]:
subdf = subdf.reset_index()
enddf = enddf.reset_index()

In [170]:
subdf

                start_station_name  start_lat  start_lng
0                 1 Ave & E 110 St  40.792327 -73.938300
1                  1 Ave & E 16 St  40.731000 -73.983000
2                  1 Ave & E 16 St  40.732219 -73.981656
3                  1 Ave & E 18 St  40.733812 -73.980544
4                  1 Ave & E 30 St  40.741444 -73.975361
...                            ...        ...        ...
997             Wyckoff St & 3 Ave  40.682755 -73.982586
998           Wyckoff St & Bond St  40.684617 -73.987213
999         Wyckoff St & Nevins St  40.683426 -73.984275
1000  Wythe Ave & Metropolitan Ave  40.716887 -73.963198
1001         Yankee Ferry Terminal  40.686931 -74.016966

[1002 rows x 3 columns]

In [171]:
enddf

                  end_station_name    end_lat    end_lng
0                 1 Ave & E 110 St  40.792327 -73.938300
1                  1 Ave & E 16 St  40.731000 -73.983000
2                  1 Ave & E 16 St  40.732219 -73.981656
3                  1 Ave & E 18 St  40.733812 -73.980544
4                  1 Ave & E 30 St  40.741444 -73.975361
...                            ...        ...        ...
1035          Wyckoff St & Bond St  40.684617 -73.987213
1036        Wyckoff St & Nevins St  40.683426 -73.984275
1037  Wythe Ave & Metropolitan Ave  40.716887 -73.963198
1038         Yankee Ferry Terminal  40.686931 -74.016966
1039                       York St  40.716490 -74.041050

[1040 rows x 3 columns]

In [142]:
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
geolocator = Nominatim(user_agent = 'sample')
geocode = RateLimiter(geolocator.reverse, min_delay_seconds = 0.1)
location = geolocator.reverse("40.709697, -73.907856")

print(location.raw['address'])

{'amenity': 'Post Box', 'road': 'Greene Avenue', 'neighbourhood': 'Ridgewood', 'suburb': 'Queens', 'city_district': 'Kings County', 'city': 'New York', 'state': 'New York', 'postcode': '11237', 'country': 'United States', 'country_code': 'us'}

In [173]:
#create an empty list
#create a sublist and fill the sublist with info
#append the empty list with sublist
#transform that bitch into a dataframe later

startdata = []
enddata = []
key1 = 'neighbourhood'
key2 = 'suburb'
key3 = 'county'

for index, row in subdf.iterrows():

    location = geolocator.reverse("{}, {}".format(row['start_lat'], row['start_lng'])).raw['address']
    mini = []
    mini.append(row['start_lat'])
    mini.append(row['start_lng'])
    if key1 in location:
        mini.append(location['neighbourhood'])
    else:
        mini.append(None)
    if key2 in location:
        mini.append(location['suburb'])
    else:
        mini.append(None)
    if key3 in location:
        mini.append(location['county'])
    else:
        mini.append(None)
    startdata.append(mini)
    print(index, end = '\r')
    

for index, row in enddf.iterrows():

    location = geolocator.reverse("{}, {}".format(row['end_lat'], row['end_lng'])).raw['address']
    mini = []
    mini.append(row['end_lat'])
    mini.append(row['end_lng'])
    if key1 in location:
        mini.append(location['neighbourhood'])
    else:
        mini.append(None)
    if key2 in location:
        mini.append(location['suburb'])
    else:
        mini.append(None)
    if key3 in location:
        mini.append(location['county'])
    else:
        mini.append(None)
    enddata.append(mini)
    print(index, end = '\r')

In [182]:
start = pd.DataFrame(startdata)

start = start.rename(columns={0: 'start_lat', 
                            1: 'start_lng',
                            2: 'start_hood',
                            3: 'start_boro',
                            4: 'start_county'})

end = pd.DataFrame(enddata)

end = end.rename(columns={0: 'end_lat', 
                            1: 'end_lng',
                            2: 'end_hood',
                            3: 'end_boro',
                            4: 'end_county'})

In [183]:
start

,start_lat,start_lng,start_hood,start_boro,start_county
0,40.792327,-73.938300,East Harlem,Manhattan,New York County
1,40.731000,-73.983000,East Village,Manhattan,New York County
2,40.732219,-73.981656,Manhattan Community Board 6,Manhattan,New York County
3,40.733812,-73.980544,Manhattan Community Board 6,Manhattan,New York County
4,40.741444,-73.975361,Kips Bay,Manhattan,New York County
...,...,...,...,...,...
997,40.682755,-73.982586,Boerum Hill,Brooklyn,None
998,40.684617,-73.987213,Gowanus,Brooklyn,None
999,40.683426,-73.984275,Boerum Hill,Brooklyn,None
1000,40.716887,-73.963198,Greenpoint,Brooklyn,None
1001,40.686931,-74.016966,Nolan Park,Manhattan,New York County

In [184]:
end

,end_lat,end_lng,end_hood,end_boro,end_county
0,40.792327,-73.938300,East Harlem,Manhattan,New York County
1,40.731000,-73.983000,East Village,Manhattan,New York County
2,40.732219,-73.981656,Manhattan Community Board 6,Manhattan,New York County
3,40.733812,-73.980544,Manhattan Community Board 6,Manhattan,New York County
4,40.741444,-73.975361,Kips Bay,Manhattan,New York County
...,...,...,...,...,...
1035,40.684617,-73.987213,Gowanus,Brooklyn,None
1036,40.683426,-73.984275,Boerum Hill,Brooklyn,None
1037,40.716887,-73.963198,Greenpoint,Brooklyn,None
1038,40.686931,-74.016966,Nolan Park,Manhattan,New York County
1039,40.716490,-74.041050,Downtown Jersey City,None,Hudson County

In [181]:
df

,tripduration,started_at,ended_at,start_station_name,start_lat,start_lng,end_station_name,end_lat,end_lng,bikeid,usertype,birth year,gender,season,citydist,vel
0,0.088889,2019-01-01 00:01:00,2019-01-01 00:07:00,Central Park West & W 76 St,40.778968,-73.973747,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1,winter,0.813646,9.153522
1,0.087778,2019-01-01 00:04:00,2019-01-01 00:10:00,Pershing Square North,40.751873,-73.977706,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1,winter,0.504362,5.745895
2,0.164167,2019-01-01 00:06:00,2019-01-01 00:15:00,Amsterdam Ave & W 82 St,40.785247,-73.976673,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1,winter,1.784014,10.867092
3,0.755278,2019-01-01 00:07:00,2019-01-01 00:52:00,1 Ave & E 16 St,40.732219,-73.981656,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1,winter,1.176102,1.557178
4,0.084167,2019-01-01 00:07:00,2019-01-01 00:12:00,Great Jones St,40.727434,-73.993790,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1,winter,1.077253,12.799044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955205,0.025833,2019-12-31 23:58:00,2019-12-31 23:59:00,1 Ave & E 68 St,40.765005,-73.958185,1 Ave & E 62 St,40.761227,-73.960940,28734,Subscriber,1985,2,winter,0.405221,15.685964
955206,0.218333,2019-12-31 23:58:00,2020-01-01 00:12:00,8 Ave & W 33 St,40.751551,-73.993934,W 56 St & 10 Ave,40.768254,-73.988639,41418,Subscriber,1991,1,winter,1.431146,6.554868
955207,0.097500,2019-12-31 23:59:00,2020-01-01 00:04:00,Grand Army Plaza & Plaza St West,40.672968,-73.970880,5 Ave & 3 St,40.672815,-73.983524,27746,Subscriber,1935,2,winter,0.673104,6.903631
955208,0.436389,2019-12-31 23:59:00,2020-01-01 00:25:00,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,28506,Subscriber,1980,1,winter,4.246881,9.731872
955209,0.086111,2019-12-31 23:59:00,2020-01-01 00:05:00,E 102 St & 1 Ave,40.786995,-73.941648,E 103 St & Lexington Ave,40.790305,-73.947558,21013,Subscriber,1969,0,winter,0.537868,6.246213

In [188]:
df['startlatlng'] = list(zip(df.start_lat, df.start_lng))
df['endlatlng'] = list(zip(df.end_lat, df.end_lng))

,tripduration,started_at,ended_at,start_station_name,start_lat,start_lng,end_station_name,end_lat,end_lng,bikeid,usertype,birth year,gender,season,citydist,vel,startlatlng,endlatlng
0,0.088889,2019-01-01 00:01:00,2019-01-01 00:07:00,Central Park West & W 76 St,40.778968,-73.973747,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1,winter,0.813646,9.153522,"(40.77896784, -73.97374737)","(40.7882213, -73.97041561)"
1,0.087778,2019-01-01 00:04:00,2019-01-01 00:10:00,Pershing Square North,40.751873,-73.977706,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1,winter,0.504362,5.745895,"(40.751873, -73.977706)","(40.74780373, -73.9734419)"
2,0.164167,2019-01-01 00:06:00,2019-01-01 00:15:00,Amsterdam Ave & W 82 St,40.785247,-73.976673,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1,winter,1.784014,10.867092,"(40.78524672, -73.97667321)","(40.77314236, -73.95856158)"
3,0.755278,2019-01-01 00:07:00,2019-01-01 00:52:00,1 Ave & E 16 St,40.732219,-73.981656,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1,winter,1.176102,1.557178,"(40.73221853, -73.98165557)","(40.738046142482766, -73.99642959237099)"
4,0.084167,2019-01-01 00:07:00,2019-01-01 00:12:00,Great Jones St,40.727434,-73.993790,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1,winter,1.077253,12.799044,"(40.72743423, -73.99379025)","(40.73827428, -73.98751968)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955205,0.025833,2019-12-31 23:58:00,2019-12-31 23:59:00,1 Ave & E 68 St,40.765005,-73.958185,1 Ave & E 62 St,40.761227,-73.960940,28734,Subscriber,1985,2,winter,0.405221,15.685964,"(40.76500525, -73.95818491)","(40.7612274, -73.96094022)"
955206,0.218333,2019-12-31 23:58:00,2020-01-01 00:12:00,8 Ave & W 33 St,40.751551,-73.993934,W 56 St & 10 Ave,40.768254,-73.988639,41418,Subscriber,1991,1,winter,1.431146,6.554868,"(40.751551, -73.993934)","(40.768254, -73.988639)"
955207,0.097500,2019-12-31 23:59:00,2020-01-01 00:04:00,Grand Army Plaza & Plaza St West,40.672968,-73.970880,5 Ave & 3 St,40.672815,-73.983524,27746,Subscriber,1935,2,winter,0.673104,6.903631,"(40.6729679, -73.97087984)","(40.6728155, -73.98352355)"
955208,0.436389,2019-12-31 23:59:00,2020-01-01 00:25:00,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,28506,Subscriber,1980,1,winter,4.246881,9.731872,"(40.73226398, -73.99852205)","(40.693261, -73.968896)"
955209,0.086111,2019-12-31 23:59:00,2020-01-01 00:05:00,E 102 St & 1 Ave,40.786995,-73.941648,E 103 St & Lexington Ave,40.790305,-73.947558,21013,Subscriber,1969,0,winter,0.537868,6.246213,"(40.7869946, -73.94164802)","(40.7903051, -73.94755757)"

In [190]:
bigboy = df.drop(['start_lat', 'start_lng', 'end_lat','end_lng'], axis = 1)
bigboy

,tripduration,started_at,ended_at,start_station_name,end_station_name,bikeid,usertype,birth year,gender,season,citydist,vel,startlatlng,endlatlng
0,0.088889,2019-01-01 00:01:00,2019-01-01 00:07:00,Central Park West & W 76 St,W 89 St & Columbus Ave,15839,Subscriber,1971,1,winter,0.813646,9.153522,"(40.77896784, -73.97374737)","(40.7882213, -73.97041561)"
1,0.087778,2019-01-01 00:04:00,2019-01-01 00:10:00,Pershing Square North,E 39 St & 2 Ave,32723,Subscriber,1964,1,winter,0.504362,5.745895,"(40.751873, -73.977706)","(40.74780373, -73.9734419)"
2,0.164167,2019-01-01 00:06:00,2019-01-01 00:15:00,Amsterdam Ave & W 82 St,E 77 St & 3 Ave,27451,Subscriber,1987,1,winter,1.784014,10.867092,"(40.78524672, -73.97667321)","(40.77314236, -73.95856158)"
3,0.755278,2019-01-01 00:07:00,2019-01-01 00:52:00,1 Ave & E 16 St,W 15 St & 6 Ave,21579,Subscriber,1990,1,winter,1.176102,1.557178,"(40.73221853, -73.98165557)","(40.738046142482766, -73.99642959237099)"
4,0.084167,2019-01-01 00:07:00,2019-01-01 00:12:00,Great Jones St,E 20 St & Park Ave,35379,Subscriber,1979,1,winter,1.077253,12.799044,"(40.72743423, -73.99379025)","(40.73827428, -73.98751968)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955205,0.025833,2019-12-31 23:58:00,2019-12-31 23:59:00,1 Ave & E 68 St,1 Ave & E 62 St,28734,Subscriber,1985,2,winter,0.405221,15.685964,"(40.76500525, -73.95818491)","(40.7612274, -73.96094022)"
955206,0.218333,2019-12-31 23:58:00,2020-01-01 00:12:00,8 Ave & W 33 St,W 56 St & 10 Ave,41418,Subscriber,1991,1,winter,1.431146,6.554868,"(40.751551, -73.993934)","(40.768254, -73.988639)"
955207,0.097500,2019-12-31 23:59:00,2020-01-01 00:04:00,Grand Army Plaza & Plaza St West,5 Ave & 3 St,27746,Subscriber,1935,2,winter,0.673104,6.903631,"(40.6729679, -73.97087984)","(40.6728155, -73.98352355)"
955208,0.436389,2019-12-31 23:59:00,2020-01-01 00:25:00,MacDougal St & Washington Sq,Clinton Ave & Myrtle Ave,28506,Subscriber,1980,1,winter,4.246881,9.731872,"(40.73226398, -73.99852205)","(40.693261, -73.968896)"
955209,0.086111,2019-12-31 23:59:00,2020-01-01 00:05:00,E 102 St & 1 Ave,E 103 St & Lexington Ave,21013,Subscriber,1969,0,winter,0.537868,6.246213,"(40.7869946, -73.94164802)","(40.7903051, -73.94755757)"

In [191]:
start['startlatlng'] = list(zip(start.start_lat, start.start_lng))
end['endlatlng'] = list(zip(end.end_lat, end.end_lng))

start = start.drop(['start_lat', 'start_lng'], axis = 1)
end = end.drop(['end_lat', 'end_lng'], axis = 1)

In [198]:
start.startlatlng.nunique()

993

In [199]:
end.endlatlng.nunique()

1030

In [196]:
final = bigboy.merge(start, on = 'startlatlng', how = 'inner')

In [200]:
# why are there more rows being added when im doing inner join???
final

,tripduration,started_at,ended_at,start_station_name,end_station_name,bikeid,usertype,birth year,gender,season,citydist,vel,startlatlng,endlatlng,start_hood,start_boro,start_county
0,0.088889,2019-01-01 00:01:00,2019-01-01 00:07:00,Central Park West & W 76 St,W 89 St & Columbus Ave,15839,Subscriber,1971,1,winter,0.813646,9.153522,"(40.77896784, -73.97374737)","(40.7882213, -73.97041561)",None,Manhattan,New York County
1,0.122778,2019-01-01 01:16:00,2019-01-01 01:23:00,Central Park West & W 76 St,Columbus Ave & W 95 St,27775,Subscriber,1986,2,winter,1.193468,9.720554,"(40.77896784, -73.97374737)","(40.7919557, -73.968087)",None,Manhattan,New York County
2,0.261944,2019-01-01 08:32:00,2019-01-01 08:48:00,Central Park West & W 76 St,E 98 St & Park Ave,19239,Subscriber,1964,1,winter,1.767570,6.747883,"(40.77896784, -73.97374737)","(40.78813, -73.95206)",None,Manhattan,New York County
3,0.238889,2019-01-01 10:12:00,2019-01-01 10:26:00,Central Park West & W 76 St,E 58 St & 3 Ave,31575,Subscriber,1982,1,winter,1.584705,6.633649,"(40.77896784, -73.97374737)","(40.76095756, -73.96724467)",None,Manhattan,New York County
4,0.227222,2019-01-01 10:14:00,2019-01-01 10:27:00,Central Park West & W 76 St,E 48 St & 5 Ave,19078,Subscriber,1959,1,winter,1.726524,7.598393,"(40.77896784, -73.97374737)","(40.75724567911726, -73.97805914282799)",None,Manhattan,New York County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20723261,0.188333,2019-12-28 20:02:00,2019-12-28 20:14:00,E 91 St & 2 Ave,1 Ave & E 62 St,34469,Subscriber,1987,1,winter,2.078971,11.038784,"(40.782, -73.95)","(40.761, -73.962)",Carnegie Hill,Manhattan,New York County
20723262,0.366667,2019-12-29 09:24:00,2019-12-29 09:46:00,1 Ave & E 62 St,Meserole Ave & Manhattan Ave,34469,Subscriber,1991,1,winter,2.751323,7.503609,"(40.761, -73.962)","(40.728, -73.953)",Manhattan Community Board 8,Manhattan,New York County
20723263,0.198333,2019-12-29 10:44:00,2019-12-29 10:56:00,Meserole Ave & Manhattan Ave,Morgan Ave & Maspeth Ave,34469,Subscriber,1970,1,winter,1.771772,8.933305,"(40.728, -73.953)","(40.716, -73.935)",Greenpoint,Brooklyn,None
20723264,0.324167,2019-12-31 11:29:00,2019-12-31 11:48:00,Morgan Ave & Maspeth Ave,Irving Ave & Jefferson St,34469,Customer,1989,1,winter,1.300532,4.011923,"(40.716, -73.935)","(40.704, -73.926)",None,Brooklyn,None
20723265,0.216111,2019-12-31 18:59:00,2019-12-31 19:12:00,Irving Ave & Jefferson St,Myrtle Ave & Marcy Ave,34469,Subscriber,1962,2,winter,1.879105,8.695089,"(40.704, -73.926)","(40.695, -73.95)",None,Brooklyn,None

In [202]:
# seeing which rows get duplicated
ids = start["startlatlng"]
start[ids.isin(ids[ids.duplicated()])]

,start_hood,start_boro,start_county,startlatlng
217,Garment District,Manhattan,New York County,"(40.752, -73.989)"
219,Garment District,Manhattan,New York County,"(40.752, -73.989)"
296,Financial District,Manhattan,New York County,"(40.70831794366396, -74.00504082441329)"
298,Financial District,Manhattan,New York County,"(40.70831794366396, -74.00504082441329)"
344,None,Brooklyn,None,"(40.70684203101325, -73.9544353965357)"
345,None,Brooklyn,None,"(40.70684203101325, -73.9544353965357)"
347,Manhattan Community Board 3,Manhattan,New York County,"(40.71413089, -73.9970468)"
348,Manhattan Community Board 3,Manhattan,New York County,"(40.71413089, -73.9970468)"
444,Manhattan Community Board 6,Manhattan,New York County,"(40.75892386377695, -73.96226227283478)"
445,Manhattan Community Board 6,Manhattan,New York County,"(40.75892386377695, -73.96226227283478)"
622,Little Italy,Manhattan,New York County,"(40.72430527250332, -73.99600982666016)"
624,Little Italy,Manhattan,New York County,"(40.72430527250332, -73.99600982666016)"
746,Murray Hill,Manhattan,New York County,"(40.752, -73.977)"
748,Murray Hill,Manhattan,New York County,"(40.752, -73.977)"
920,Manhattan Community Board 5,Manhattan,New York County,"(40.75668720603179, -73.98257732391357)"
922,Manhattan Community Board 5,Manhattan,New York County,"(40.75668720603179, -73.98257732391357)"
961,Manhattan Community Board 2,Manhattan,New York County,"(40.72494672359416, -74.00165855884552)"
962,Manhattan Community Board 2,Manhattan,New York County,"(40.72494672359416, -74.00165855884552)"

In [203]:
ids = end["endlatlng"]
end[ids.isin(ids[ids.duplicated()])]

,end_hood,end_boro,end_county,endlatlng
217,Garment District,Manhattan,New York County,"(40.752, -73.989)"
219,Garment District,Manhattan,New York County,"(40.752, -73.989)"
297,Financial District,Manhattan,New York County,"(40.70831794366396, -74.00504082441329)"
299,Financial District,Manhattan,New York County,"(40.70831794366396, -74.00504082441329)"
346,None,Brooklyn,None,"(40.70684203101325, -73.9544353965357)"
347,None,Brooklyn,None,"(40.70684203101325, -73.9544353965357)"
349,Manhattan Community Board 3,Manhattan,New York County,"(40.71413089, -73.9970468)"
350,Manhattan Community Board 3,Manhattan,New York County,"(40.71413089, -73.9970468)"
446,Manhattan Community Board 6,Manhattan,New York County,"(40.75892386377695, -73.96226227283478)"
447,Manhattan Community Board 6,Manhattan,New York County,"(40.75892386377695, -73.96226227283478)"
638,Little Italy,Manhattan,New York County,"(40.72430527250332, -73.99600982666016)"
640,Little Italy,Manhattan,New York County,"(40.72430527250332, -73.99600982666016)"
775,Murray Hill,Manhattan,New York County,"(40.752, -73.977)"
777,Murray Hill,Manhattan,New York County,"(40.752, -73.977)"
877,Union Square,Manhattan,New York County,"(40.73492695, -73.99200509)"
878,Union Square,Manhattan,New York County,"(40.73492695, -73.99200509)"
955,Manhattan Community Board 5,Manhattan,New York County,"(40.75668720603179, -73.98257732391357)"
957,Manhattan Community Board 5,Manhattan,New York County,"(40.75668720603179, -73.98257732391357)"
996,Manhattan Community Board 2,Manhattan,New York County,"(40.72494672359416, -74.00165855884552)"
997,Manhattan Community Board 2,Manhattan,New York County,"(40.72494672359416, -74.00165855884552)"

In [206]:
newstart = start.drop_duplicates(subset=['startlatlng'], keep='first')
newend = end.drop_duplicates(subset=['endlatlng'], keep='first')

In [207]:
newstart

,start_hood,start_boro,start_county,startlatlng
0,East Harlem,Manhattan,New York County,"(40.7923272, -73.9383)"
1,East Village,Manhattan,New York County,"(40.731, -73.983)"
2,Manhattan Community Board 6,Manhattan,New York County,"(40.73221853, -73.98165557)"
3,Manhattan Community Board 6,Manhattan,New York County,"(40.73381219196632, -73.98054420948029)"
4,Kips Bay,Manhattan,New York County,"(40.74144387, -73.97536082)"
...,...,...,...,...
997,Boerum Hill,Brooklyn,None,"(40.6827549, -73.98258555)"
998,Gowanus,Brooklyn,None,"(40.68461653897949, -73.98721285164356)"
999,Boerum Hill,Brooklyn,None,"(40.683426, -73.984275)"
1000,Greenpoint,Brooklyn,None,"(40.716887, -73.963198)"
1001,Nolan Park,Manhattan,New York County,"(40.686931, -74.016966)"

In [208]:
newend

,end_hood,end_boro,end_county,endlatlng
0,East Harlem,Manhattan,New York County,"(40.7923272, -73.9383)"
1,East Village,Manhattan,New York County,"(40.731, -73.983)"
2,Manhattan Community Board 6,Manhattan,New York County,"(40.73221853, -73.98165557)"
3,Manhattan Community Board 6,Manhattan,New York County,"(40.73381219196632, -73.98054420948029)"
4,Kips Bay,Manhattan,New York County,"(40.74144387, -73.97536082)"
...,...,...,...,...
1035,Gowanus,Brooklyn,None,"(40.68461653897949, -73.98721285164356)"
1036,Boerum Hill,Brooklyn,None,"(40.683426, -73.984275)"
1037,Greenpoint,Brooklyn,None,"(40.716887, -73.963198)"
1038,Nolan Park,Manhattan,New York County,"(40.686931, -74.016966)"
1039,Downtown Jersey City,None,Hudson County,"(40.71649, -74.04105)"

In [211]:
final = bigboy.merge(newstart, on = 'startlatlng', how = 'outer')

In [213]:
final = final.merge(newend, on = 'endlatlng', how = 'outer')

In [214]:
final

,tripduration,started_at,ended_at,start_station_name,end_station_name,bikeid,usertype,birth year,gender,season,citydist,vel,startlatlng,endlatlng,start_hood,start_boro,start_county,end_hood,end_boro,end_county
0,0.088889,2019-01-01 00:01:00,2019-01-01 00:07:00,Central Park West & W 76 St,W 89 St & Columbus Ave,15839,Subscriber,1971,1,winter,0.813646,9.153522,"(40.77896784, -73.97374737)","(40.7882213, -73.97041561)",None,Manhattan,New York County,Manhattan Community Board 7,Manhattan,New York County
1,0.098056,2019-01-03 16:21:00,2019-01-03 16:27:00,Central Park West & W 76 St,W 89 St & Columbus Ave,32547,Subscriber,1986,1,winter,0.813646,8.297810,"(40.77896784, -73.97374737)","(40.7882213, -73.97041561)",None,Manhattan,New York County,Manhattan Community Board 7,Manhattan,New York County
2,0.118611,2019-01-08 17:14:00,2019-01-08 17:21:00,Central Park West & W 76 St,W 89 St & Columbus Ave,33767,Subscriber,1968,1,winter,0.813646,6.859782,"(40.77896784, -73.97374737)","(40.7882213, -73.97041561)",None,Manhattan,New York County,Manhattan Community Board 7,Manhattan,New York County
3,0.121111,2019-01-10 17:33:00,2019-01-10 17:40:00,Central Park West & W 76 St,W 89 St & Columbus Ave,20155,Subscriber,1968,1,winter,0.813646,6.718181,"(40.77896784, -73.97374737)","(40.7882213, -73.97041561)",None,Manhattan,New York County,Manhattan Community Board 7,Manhattan,New York County
4,0.122222,2019-01-15 17:22:00,2019-01-15 17:30:00,Central Park West & W 76 St,W 89 St & Columbus Ave,20203,Subscriber,1968,1,winter,0.813646,6.657107,"(40.77896784, -73.97374737)","(40.7882213, -73.97041561)",None,Manhattan,New York County,Manhattan Community Board 7,Manhattan,New York County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20551692,0.188333,2019-12-28 20:02:00,2019-12-28 20:14:00,E 91 St & 2 Ave,1 Ave & E 62 St,34469,Subscriber,1987,1,winter,2.078971,11.038784,"(40.782, -73.95)","(40.761, -73.962)",Carnegie Hill,Manhattan,New York County,Manhattan Community Board 8,Manhattan,New York County
20551693,0.366667,2019-12-29 09:24:00,2019-12-29 09:46:00,1 Ave & E 62 St,Meserole Ave & Manhattan Ave,34469,Subscriber,1991,1,winter,2.751323,7.503609,"(40.761, -73.962)","(40.728, -73.953)",Manhattan Community Board 8,Manhattan,New York County,Greenpoint,Brooklyn,None
20551694,0.198333,2019-12-29 10:44:00,2019-12-29 10:56:00,Meserole Ave & Manhattan Ave,Morgan Ave & Maspeth Ave,34469,Subscriber,1970,1,winter,1.771772,8.933305,"(40.728, -73.953)","(40.716, -73.935)",Greenpoint,Brooklyn,None,None,Brooklyn,None
20551695,0.324167,2019-12-31 11:29:00,2019-12-31 11:48:00,Morgan Ave & Maspeth Ave,Irving Ave & Jefferson St,34469,Customer,1989,1,winter,1.300532,4.011923,"(40.716, -73.935)","(40.704, -73.926)",None,Brooklyn,None,None,Brooklyn,None
20551696,0.216111,2019-12-31 18:59:00,2019-12-31 19:12:00,Irving Ave & Jefferson St,Myrtle Ave & Marcy Ave,34469,Subscriber,1962,2,winter,1.879105,8.695089,"(40.704, -73.926)","(40.695, -73.95)",None,Brooklyn,None,Clinton Hill,Brooklyn,None

In [215]:
final.to_parquet('final2019.parquet')