In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./lp_play_set.csv')

In [18]:
data.head()

,dock_id,date,hour,avail_bikes,avail_docks,tot_docks,avail_bikes_proportion,avail_docks_proportion,latitude,longitude
0,2005,19-04-30,6.0,7.0,5.0,12.0,0.583333,0.416667,40.705312,-73.971001
1,3094,19-04-30,6.0,11.0,7.0,18.0,0.611111,0.388889,40.716981,-73.944859
2,3057,19-04-30,6.0,13.0,5.0,18.0,0.722222,0.277778,40.691283,-73.945242
3,3449,19-04-30,6.0,4.5,13.5,18.0,0.250000,0.750000,40.721463,-73.948009
4,3299,19-04-30,6.0,2.0,23.0,25.0,0.080000,0.920000,40.788130,-73.952060

In [83]:
stations = {}
station_to_number = {}
for r in data.iterrows():
    stations[r[1][0]] = (r[1][8],r[1][9])  
    station_to_number[r[1][0]] = r[0]

In [84]:
url = 'http://router.project-osrm.org/'
# route = f'route/v1/bike/{start_lon},{start_lat};{end_lon},{end_lat}'
# request = requests.get(url + route)
import requests

In [110]:

import geopy
from geopy import distance
distance.distance()

In [117]:
distances = pd.DataFrame(index = data['dock_id'])
i = 0
for station1 in distances.index:
    d = np.array([])

    for station2 in distances.index:
        i+=1
        print(i,end = '\r')
        if station2 in distances.columns:
            d = np.append(d,np.nan)
            continue
        start_lon = stations[station1][1]
        start_lat = stations[station1][0]
        end_lon = stations[station2][1]
        end_lat = stations[station2][0]
        
        x = distance.distance((start_lat,start_lon),(end_lat,start_lon)).km
        y = distance.distance((end_lat,start_lon),(end_lat,end_lon)).km
#         print(x+y)
#         route = f'route/v1/bike/{start_lon},{start_lat};{end_lon},{end_lat}'
#         response = requests.get(url + route)
        distance_in_metres =  x + y
        
#         response.json()['routes'][0]['distance']
        d = np.append(d,distance_in_metres)


    distances[station1] = d

37659

<ipython-input-117-0b09e4909a0a>:28: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  distances[station1] = d

In [119]:
distances.to_csv('distances_for_lp.csv')