In [4]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [7]:
df = pd.read_csv('DOITT_SUBWAY_STATION_01_13SEPT2010.csv')

In [19]:
df['the_geom'][0].split()[1][1:]

'-73.99106999861966'

In [21]:
df['the_geom'][0].split()[2][:-1]

'40.73005400028978'

In [23]:
df['lat'] = df['the_geom'].apply(lambda x: x.split()[1][1:])

In [25]:
df['long'] = df['the_geom'].apply(lambda x: x.split()[2][:-1])

In [26]:
df

,URL,OBJECTID,NAME,the_geom,LINE,NOTES,lat,long
0,http://web.mta.info/nyct/service/,1,Astor Pl,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",-73.99106999861966,40.73005400028978
1,http://web.mta.info/nyct/service/,2,Canal St,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",-74.00019299927328,40.71880300107709
2,http://web.mta.info/nyct/service/,3,50th St,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights",-73.98384899986625,40.76172799961419
3,http://web.mta.info/nyct/service/,4,Bergen St,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times",-73.97499915116808,40.68086213682956
4,http://web.mta.info/nyct/service/,5,Pennsylvania Ave,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times",-73.89488591154061,40.66471445143568
...,...,...,...,...,...,...,...,...
468,http://web.mta.info/nyct/service/,469,Coney Island - Stillwell Av,POINT (-73.9812359981396 40.57728100006751),D-F-N-Q,"D,F,N,Q-all times",-73.9812359981396,40.57728100006751
469,http://web.mta.info/nyct/service/,470,34th St - Hudson Yards,POINT (-74.00219709442206 40.75544635961596),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",-74.00219709442206,40.75544635961596
470,http://web.mta.info/nyct/service/,641,72nd St,POINT (-73.95836178682246 40.76880251014895),Q,Q-all times,-73.95836178682246,40.76880251014895
471,http://web.mta.info/nyct/service/,642,86th St,POINT (-73.95177090964917 40.77786104333163),Q,Q-all times,-73.95177090964917,40.77786104333163
472,http://web.mta.info/nyct/service/,643,96th St,POINT (-73.9470660219183 40.784236650177654),Q,Q-all times,-73.9470660219183,40.784236650177654