In [1]:
import pandas as pd
import numpy as np
from geopy.distance import distance
import pydeck as pdk
import pickle
import requests
import json

In [2]:
model = pickle.load(open('random_forest.pickle', 'rb'))

In [3]:
data = pd.read_csv('../../../capstone_other/files_too_large_for_github/ML_table_with_availability_clusters.csv')

In [4]:
new = data.groupby('dock_id').apply(pd.DataFrame.sample, random_state = 5, n=1).reset_index(drop=True)

In [5]:
new1 = new[['dock_id', 'latitude', 'longitude', 'tot_docks']]

In [6]:
new2 = new[['weekday_cluster', 'weekend_cluster']]

In [7]:
month = 12
day = 20
hour = 12

In [8]:
date = pd.to_datetime({'year': [2021], 'month': [month], 'day': [day], 'hour': [hour]})[0]

In [9]:
day_of_week_conversion = {0:2, 1:3, 2:4, 3:5, 4:6, 5:7, 6:1}

In [10]:
sql_day_of_week = day_of_week_conversion[date.dayofweek]

In [11]:
sql_day_of_week

2

In [12]:
month_column = np.ones(len(new), dtype=int) * month
num_day_column = np.ones(len(new), dtype=int) * sql_day_of_week
hour_column = np.ones(len(new), dtype=int) * hour
date_df = pd.DataFrame({'month': month_column, 'num_day': num_day_column, 'hour': hour_column})

In [13]:
date_df

     month  num_day  hour
0       12        2    12
1       12        2    12
2       12        2    12
3       12        2    12
4       12        2    12
..     ...      ...   ...
324     12        2    12
325     12        2    12
326     12        2    12
327     12        2    12
328     12        2    12

[329 rows x 3 columns]

In [14]:
request = requests.get('https://api.openweathermap.org/data/2.5/onecall?lat=40.7812&lon=-73.9665&exclude=minutely,current,daily,alerts&units=metric&appid=404310456b8e1c31228341dd6c95dd04')
response = request.json()
response

{'lat': 40.7812,
 'lon': -73.9665,
 'timezone': 'America/New_York',
 'timezone_offset': -18000,
 'hourly': [{'dt': 1639857600,
   'temp': 5.54,
   'feels_like': 2.53,
   'pressure': 1015,
   'humidity': 87,
   'dew_point': 3.55,
   'uvi': 0.05,
   'clouds': 90,
   'visibility': 10000,
   'wind_speed': 3.99,
   'wind_deg': 129,
   'wind_gust': 7.85,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'pop': 0.3,
   'rain': {'1h': 0.16}},
  {'dt': 1639861200,
   'temp': 6,
   'feels_like': 3.23,
   'pressure': 1015,
   'humidity': 86,
   'dew_point': 3.84,
   'uvi': 0,
   'clouds': 92,
   'visibility': 10000,
   'wind_speed': 3.74,
   'wind_deg': 125,
   'wind_gust': 7.84,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'pop': 0.22},
  {'dt': 1639864800,
   'temp': 6.64,
   'feels_like': 4.25,
   'pressure': 1015,
   'humidity': 85,
   'dew_point': 4.3,
   'uvi': 0,
   'clouds': 94,
   'visibility': 10000,
   'wind_speed': 3.35,
   'wind_deg': 134,
   'wind_gust': 7.7,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'pop': 0.13},
  {'dt': 1639868400,
   'temp': 7.39,
   'feels_like': 5.4,
   'pressure': 1014,
   'humidity': 85,
   'dew_point': 5.04,
   'uvi': 0,
   'clouds': 96,
   'visibility': 10000,
   'wind_speed': 2.96,
   'wind_deg': 136,
   'wind_gust': 7.06,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'pop': 0.13},
  {'dt': 1639872000,
   'temp': 8.2,
   'feels_like': 6.93,
   'pressure': 1013,
   'humidity': 86,
   'dew_point': 6,
   'uvi': 0,
   'clouds': 98,
   'visibility': 10000,
   'wind_speed': 2.19,
   'wind_deg': 132,
   'wind_gust': 5.83,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'pop': 0.08},
  {'dt': 1639875600,
   'temp': 9.05,
   'feels_like': 8.03,
   'pressure': 1011,
   'humidity': 87,
   'dew_point': 7.04,
   'uvi': 0,
   'clouds': 100,
   'visibility': 10000,
   'wind_speed': 2.07,
   'wind_deg': 134,
   'wind_gust': 5.92,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'pop': 0},
  {'dt': 1639879200,
   'temp': 9.24,
   'feels_like': 8.72,
   'pressure': 1010,
   'humidity': 89,
   'dew_point': 7.56,
   'uvi': 0,
   'clouds': 100,
   'visibility': 10000,
   'wind_speed': 1.56,
   'wind_deg': 164,
   'wind_gust': 4.54,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'pop': 0},
  {'dt': 1639882800,
   'temp': 9.36,
   'feels_like': 8.69,
   'pressure': 1009,
   'humidity': 91,
   'dew_point': 7.89,
   'uvi': 0,
   'clouds': 100,
   'visibility': 10000,
   'wind_speed': 1.73,
   'wind_deg': 196,
   'wind_gust': 4.35,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'pop': 0},
  {'dt': 1639886400,
   'temp': 9.13,
   'feels_like': 8.39,
   'pressure': 1008,
   'humidity': 92,
   'dew_point': 7.94,
   'uvi': 0,
   'clouds': 100,
   'visibility': 10000,
   'wind_speed': 1.76,
   'wind_deg': 218,
   'wind_gust': 4.17,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'pop': 0.03},
  {'dt': 1639890000,
   'temp': 9.29,
   'feels_like': 8.65,
   'pressure': 1008,
   'humidity': 90,
   'dew_point': 7.73,
   'uvi': 0,
   'clouds': 100,
   'visibility': 10000,
   'wind_speed': 1.69,
   'wind_deg': 240,
   'wind_gust': 9.65,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'pop': 0.14},
  {'dt': 1639893600,
   'temp': 9.31,
   'feels_like': 7.63,
   'pressure': 1008,
   'humidity': 89,
   'dew_point': 7.55,
   'uvi': 0,
   'clouds': 100,
   'visibility': 10000,
   'wind_speed': 3.09,
   'wind_deg': 278,
   'wind_gust': 12.61,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'pop': 0.38,
   'rain': {'1h': 0.11}},
  {'dt': 1639897200,
   'temp': 9.48,
   'feels_like': 7.8,
   'pressure': 1009,
   'humidity': 87,
   'dew_point': 7.34,
   'uvi': 0,
   'clouds': 100,
   'visibility': 10000,
   'wind_speed': 3.15,
   'wind_deg': 287,
   'wind_gust': 11.3,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'pop': 0.4},
  {'dt': 1639900800,
   'temp': 9.58,
   'feels_like': 7.69,
   'pressure': 1009,
   'humidity': 83,
   'dew_point': 6.91,
   'uvi': 0,
   'clouds': 100,
   'visibility': 10000,
   'wind_speed': 3.57,
   'wind_deg': 304,
   'wind_gust': 10.69,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'pop': 0.43},
  {'dt': 1639904400,
   'temp': 9.09,
   'feels_like': 6.27,
   'pressure': 1010,
   'humidity': 79,
   'dew_point': 5.63,
   'uvi': 0,
   'clouds': 100,
   'visibility': 10000,
   'wind_speed': 5.48,
   'wind_deg': 316,
   'wind_gust': 10.42,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'pop': 0.5},
  {'dt': 1639908000,
   'temp': 6.62,
   'feels_like': 2.4,
   'pressure': 1012,
   'humidity': 65,
   'dew_point': 0.58,
   'uvi': 0,
   'clouds': 100,
   'visibility': 10000,
   'wind_speed': 7.61,
   'wind_deg': 314,
   'wind_gust': 13.84,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'pop': 0.39},
  {'dt': 1639911600,
   'temp': 5.13,
   'feels_like': 0.47,
   'pressure': 1013,
   'humidity': 61,
   'dew_point': -1.85,
   'uvi': 0,
   'clouds': 100,
   'visibility': 10000,
   'wind_speed': 7.61,
   'wind_deg': 318,
   'wind_gust': 14.46,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'pop': 0.3},
  {'dt': 1639915200,
   'temp': 3.83,
   'feels_like': -1.31,
   'pressure': 1015,
   'humidity': 57,
   'dew_point': -3.84,
   'uvi': 0,
   'clouds': 100,
   'visibility': 10000,
   'wind_speed': 7.89,
   'wind_deg': 322,
   'wind_gust': 14.91,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'pop': 0.22},
  {'dt': 1639918800,
   'temp': 3.02,
   'feels_like': -2.46,
   'pressure': 1015,
   'humidity': 54,
   'dew_point': -5.31,
   'uvi': 0.07,
   'clouds': 100,
   'visibility': 10000,
   'wind_speed': 8.17,
   'wind_deg': 327,
   'wind_gust': 15.79,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'pop': 0},
  {'dt': 1639922400,
   'temp': 2.85,
   'feels_like': -2.58,
   'pressure': 1016,
   'humidity': 51,
   'dew_point': -6.35,
   'uvi': 0.28,
   'clouds': 100,
   'visibility': 10000,
   'wind_speed': 7.88,
   'wind_deg': 327,
   'wind_gust': 15.11,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'pop': 0},
  {'dt': 1639926000,
   'temp': 2.64,
   'feels_like': -2.89,
   'pressure': 1017,
   'humidity': 48,
   'dew_point': -7.23,
   'uvi': 0.58,
   'clouds': 100,
   'visibility': 10000,
   'wind_speed': 7.99,
   'wind_deg': 331,
   'wind_gust': 13.07,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'pop': 0},
  {'dt': 1639929600,
   'temp': 2.59,
   'feels_like': -2.9,
   'pressure': 1018,
   'humidity': 47,
   'dew_point': -7.72,
   'uvi': 0.96,
   'clouds': 100,
   'visibility': 10000,
   'wind_speed': 7.84,
   'wind_deg': 336,
   'wind_gust': 11.42,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'pop': 0},
  {'dt': 1639933200,
   'temp': 3.07,
   'feels_like': -1.93,
   'pressure': 1018,
   'humidity': 45,
   'dew_point': -7.81,
   'uvi': 1.07,
   'clouds': 100,
   'visibility': 10000,
   'wind_speed': 6.91,
   'wind_deg': 335,
   'wind_gust': 9.58,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'pop': 0},
  {'dt': 1639936800,
   'temp': 3.81,
   'feels_like': -0.98,
   'pressure': 1018,
   'humidity': 42,
   'dew_point': -7.8,
   'uvi': 0.93,
   'clouds': 96,
   'visibility': 10000,
   'wind_speed': 6.91,
   'wind_deg': 332,
   'wind_gust': 9.11,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'pop': 0},
  {'dt': 1639940400,
   'temp': 3.96,
   'feels_like': -0.78,
   'pressure': 1018,
   'humidity': 43,
   'dew_point': -7.53,
   'uvi': 0.85,
   'clouds': 98,
   'visibility': 10000,
   'wind_speed': 6.89,
   'wind_deg': 331,
   'wind_gust': 9.07,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'pop': 0},
  {'dt': 1639944000,
   'temp': 3.79,
   'feels_like': -0.92,
   'pressure': 1019,
   'humidity': 44,
   'dew_point': -7.36,
   'uvi': 0.4,
   'clouds': 96,
   'visibility': 10000,
   'wind_speed': 6.67,
   'wind_deg': 333,
   'wind_gust': 8.68,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'pop': 0},
  {'dt': 1639947600,
   'temp': 3.33,
   'feels_like': -1.42,
   'pressure': 1020,
   'humidity': 46,
   'dew_point': -7.18,
   'uvi': 0,
   'clouds': 90,
   'visibility': 10000,
   'wind_speed': 6.46,
   'wind_deg': 332,
   'wind_gust': 9.03,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'pop': 0},
  {'dt': 1639951200,
   'temp': 2.41,
   'feels_like': -2.62,
   'pressure': 1021,
   'humidity': 49,
   'dew_point': -7.29,
   'uvi': 0,
   'clouds': 67,
   'visibility': 10000,
   'wind_speed': 6.51,
   'wind_deg': 335,
   'wind_gust': 9.61,
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'pop': 0},
  {'dt': 1639954800,
   'temp': 1.64,
   'feels_like': -3.4,
   'pressure': 1022,
   'humidity': 50,
   'dew_point': -7.72,
   'uvi': 0,
   'clouds': 54,
   'visibility': 10000,
   'wind_speed': 6.07,
   'wind_deg': 340,
   'wind_gust': 9.52,
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'pop': 0},
  {'dt': 1639958400,
   'temp': 1.03,
   'feels_like': -3.86,
   'pressure': 1023,
   'humidity': 51,
   'dew_point': -7.99,
   'uvi': 0,
   'clouds': 45,
   'visibility': 10000,
   'wind_speed': 5.43,
   'wind_deg': 343,
   'wind_gust': 8.57,
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03n'}],
   'pop': 0},
  {'dt': 1639962000,
   'temp': 0.52,
   'feels_like': -4.29,
   'pressure': 1024,
   'humidity': 52,
   'dew_point': -8.2,
   'uvi': 0,
   'clouds': 1,
   'visibility': 10000,
   'wind_speed': 5.05,
   'wind_deg': 343,
   'wind_gust': 7.63,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'pop': 0},
  {'dt': 1639965600,
   'temp': 0.12,
   'feels_like': -4.59,
   'pressure': 1024,
   'humidity': 53,
   'dew_point': -8.36,
   'uvi': 0,
   'clouds': 1,
   'visibility': 10000,
   'wind_speed': 4.7,
   'wind_deg': 345,
   'wind_gust': 6.91,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'pop': 0},
  {'dt': 1639969200,
   'temp': -0.13,
   'feels_like': -4.65,
   'pressure': 1025,
   'humidity': 53,
   'dew_point': -8.48,
   'uvi': 0,
   'clouds': 1,
   'visibility': 10000,
   'wind_speed': 4.3,
   'wind_deg': 349,
   'wind_gust': 6.38,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'pop': 0},
  {'dt': 1639972800,
   'temp': -0.34,
   'feels_like': -4.66,
   'pressure': 1025,
   'humidity': 53,
   'dew_point': -8.74,
   'uvi': 0,
   'clouds': 1,
   'visibility': 10000,
   'wind_speed': 3.94,
   'wind_deg': 350,
   'wind_gust': 5.89,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'pop': 0},
  {'dt': 1639976400,
   'temp': -0.61,
   'feels_like': -4.75,
   'pressure': 1025,
   'humidity': 53,
   'dew_point': -8.97,
   'uvi': 0,
   'clouds': 2,
   'visibility': 10000,
   'wind_speed': 3.62,
   'wind_deg': 346,
   'wind_gust': 5.27,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'pop': 0},
  {'dt': 1639980000,
   'temp': -0.78,
   'feels_like': -4.63,
   'pressure': 1026,
   'humidity': 53,
   'dew_point': -9.26,
   'uvi': 0,
   'clouds': 2,
   'visibility': 10000,
   'wind_speed': 3.22,
   'wind_deg': 352,
   'wind_gust': 4.66,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'pop': 0},
  {'dt': 1639983600,
   'temp': -0.87,
   'feels_like': -4.35,
   'pressure': 1026,
   'humidity': 52,
   'dew_point': -9.46,
   'uvi': 0,
   'clouds': 0,
   'visibility': 10000,
   'wind_speed': 2.79,
   'wind_deg': 351,
   'wind_gust': 3.94,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'pop': 0},
  {'dt': 1639987200,
   'temp': -0.91,
   'feels_like': -4.22,
   'pressure': 1027,
   'humidity': 52,
   'dew_point': -9.67,
   'uvi': 0,
   'clouds': 0,
   'visibility': 10000,
   'wind_speed': 2.61,
   'wind_deg': 354,
   'wind_gust': 3.55,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'pop': 0},
  {'dt': 1639990800,
   'temp': -1.04,
   'feels_like': -3.63,
   'pressure': 1026,
   'humidity': 51,
   'dew_point': -9.82,
   'uvi': 0,
   'clouds': 0,
   'visibility': 10000,
   'wind_speed': 1.97,
   'wind_deg': 352,
   'wind_gust': 2.51,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'pop': 0},
  {'dt': 1639994400,
   'temp': -1.05,
   'feels_like': -3.28,
   'pressure': 1027,
   'humidity': 51,
   'dew_point': -9.88,
   'uvi': 0,
   'clouds': 0,
   'visibility': 10000,
   'wind_speed': 1.71,
   'wind_deg': 346,
   'wind_gust': 1.98,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'pop': 0},
  {'dt': 1639998000,
   'temp': -1.01,
   'feels_like': -3.28,
   'pressure': 1028,
   'humidity': 51,
   'dew_point': -9.94,
   'uvi': 0,
   'clouds': 0,
   'visibility': 10000,
   'wind_speed': 1.74,
   'wind_deg': 347,
   'wind_gust': 1.96,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'pop': 0},
  {'dt': 1640001600,
   'temp': -1.01,
   'feels_like': -2.94,
   'pressure': 1028,
   'humidity': 50,
   'dew_point': -10.06,
   'uvi': 0,
   'clouds': 1,
   'visibility': 10000,
   'wind_speed': 1.52,
   'wind_deg': 342,
   'wind_gust': 1.64,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'pop': 0},
  {'dt': 1640005200,
   'temp': -0.88,
   'feels_like': -0.88,
   'pressure': 1028,
   'humidity': 49,
   'dew_point': -10.22,
   'uvi': 0.11,
   'clouds': 7,
   'visibility': 10000,
   'wind_speed': 1.2,
   'wind_deg': 349,
   'wind_gust': 1.21,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'pop': 0},
  {'dt': 1640008800,
   'temp': -0.39,
   'feels_like': -0.39,
   'pressure': 1028,
   'humidity': 46,
   'dew_point': -10.49,
   'uvi': 0.42,
   'clouds': 4,
   'visibility': 10000,
   'wind_speed': 0.46,
   'wind_deg': 306,
   'wind_gust': 0.68,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'pop': 0},
  {'dt': 1640012400,
   'temp': 0.37,
   'feels_like': 0.37,
   'pressure': 1028,
   'humidity': 42,
   'dew_point': -10.94,
   'uvi': 0.87,
   'clouds': 2,
   'visibility': 10000,
   'wind_speed': 1.21,
   'wind_deg': 233,
   'wind_gust': 1.73,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'pop': 0},
  {'dt': 1640016000,
   'temp': 1.19,
   'feels_like': -1.08,
   'pressure': 1028,
   'humidity': 38,
   'dew_point': -11.5,
   'uvi': 1.39,
   'clouds': 3,
   'visibility': 10000,
   'wind_speed': 2.01,
   'wind_deg': 226,
   'wind_gust': 2.63,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'pop': 0},
  {'dt': 1640019600,
   'temp': 1.97,
   'feels_like': -0.41,
   'pressure': 1027,
   'humidity': 34,
   'dew_point': -12.2,
   'uvi': 1.55,
   'clouds': 4,
   'visibility': 10000,
   'wind_speed': 2.22,
   'wind_deg': 223,
   'wind_gust': 2.84,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'pop': 0},
  {'dt': 1640023200,
   'temp': 2.74,
   'feels_like': -0.14,
   'pressure': 1026,
   'humidity': 31,
   'dew_point': -12.56,
   'uvi': 1.35,
   'clouds': 5,
   'visibility': 10000,
   'wind_speed': 2.92,
   'wind_deg': 218,
   'wind_gust': 3.73,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'pop': 0},
  {'dt': 1640026800,
   'temp': 3.38,
   'feels_like': 0.29,
   'pressure': 1026,
   'humidity': 29,
   'dew_point': -12.88,
   'uvi': 0.89,
   'clouds': 7,
   'visibility': 10000,
   'wind_speed': 3.36,
   'wind_deg': 217,
   'wind_gust': 4.66,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'pop': 0}]}

In [15]:
temp = response['hourly'][22]['temp']
rain = round(response['hourly'][22]['pop'])

In [16]:
weather_df = pd.DataFrame.from_dict(response['hourly'])[['dt', 'temp','pop']]
weather_df['dt'] = pd.to_datetime(weather_df['dt'], unit = 's')

In [17]:
weather_df = weather_df[weather_df['dt'] == date]

In [18]:
temp = weather_df['temp'].iloc[0]
rain = round(weather_df['pop'].iloc[0])

In [19]:
temp_column = np.ones(len(new), dtype=int) * temp
rain_column = np.ones(len(new), dtype=int) * rain

In [20]:
new1['tmp'] = temp_column
new1['rain'] = rain_column

<ipython-input-20-6b2e212f92bf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new1['tmp'] = temp_column
<ipython-input-20-6b2e212f92bf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new1['rain'] = rain_column

In [21]:
day_data = pd.concat([new1, new2], axis = 1)

In [22]:
day_data

,dock_id,latitude,longitude,tot_docks,tmp,rain,weekday_cluster,weekend_cluster
0,83,40.683826,-73.976323,62,-1.01,0,2,3
1,119,40.696089,-73.978034,19,-1.01,0,2,0
2,120,40.686768,-73.959282,19,-1.01,0,1,0
3,143,40.692395,-73.993379,24,-1.01,0,2,3
4,144,40.698399,-73.980689,19,-1.01,0,2,0
...,...,...,...,...,...,...,...,...
324,3505,40.805726,-73.936322,33,-1.01,0,2,2
325,3506,40.801307,-73.939817,29,-1.01,0,0,2
326,3507,40.804555,-73.939686,36,-1.01,0,0,2
327,3509,40.801194,-73.950074,31,-1.01,0,2,0
328,3510,40.807832,-73.949373,31,-1.01,0,0,2

In [23]:
final_df = pd.concat([date_df, day_data], axis = 1)

In [24]:
dock_id_series = final_df['dock_id']

In [25]:
final_df.drop(['dock_id'], axis = 1, inplace = True)

In [26]:
final_df

,month,num_day,hour,latitude,longitude,tot_docks,tmp,rain,weekday_cluster,weekend_cluster
0,12,2,12,40.683826,-73.976323,62,-1.01,0,2,3
1,12,2,12,40.696089,-73.978034,19,-1.01,0,2,0
2,12,2,12,40.686768,-73.959282,19,-1.01,0,1,0
3,12,2,12,40.692395,-73.993379,24,-1.01,0,2,3
4,12,2,12,40.698399,-73.980689,19,-1.01,0,2,0
...,...,...,...,...,...,...,...,...,...,...
324,12,2,12,40.805726,-73.936322,33,-1.01,0,2,2
325,12,2,12,40.801307,-73.939817,29,-1.01,0,0,2
326,12,2,12,40.804555,-73.939686,36,-1.01,0,0,2
327,12,2,12,40.801194,-73.950074,31,-1.01,0,2,0
328,12,2,12,40.807832,-73.949373,31,-1.01,0,0,2

In [27]:
predictions = model.best_estimator_.predict(final_df)

In [28]:
final_df['predictions'] = predictions
final_df['dock_id'] = dock_id_series

In [29]:
final_df['avail_bikes_proportion'] = final_df['predictions']/final_df['tot_docks']

In [30]:
final_df

,month,num_day,hour,latitude,longitude,tot_docks,tmp,rain,weekday_cluster,weekend_cluster,predictions,dock_id,avail_bikes_proportion
0,12,2,12,40.683826,-73.976323,62,-1.01,0,2,3,27.357524,83,0.441250
1,12,2,12,40.696089,-73.978034,19,-1.01,0,2,0,9.056517,119,0.476659
2,12,2,12,40.686768,-73.959282,19,-1.01,0,1,0,3.939524,120,0.207343
3,12,2,12,40.692395,-73.993379,24,-1.01,0,2,3,20.074048,143,0.836419
4,12,2,12,40.698399,-73.980689,19,-1.01,0,2,0,16.099226,144,0.847328
...,...,...,...,...,...,...,...,...,...,...,...,...,...
324,12,2,12,40.805726,-73.936322,33,-1.01,0,2,2,10.558578,3505,0.319957
325,12,2,12,40.801307,-73.939817,29,-1.01,0,0,2,5.144976,3506,0.177413
326,12,2,12,40.804555,-73.939686,36,-1.01,0,0,2,11.518306,3507,0.319953
327,12,2,12,40.801194,-73.950074,31,-1.01,0,2,0,11.935893,3509,0.385029
328,12,2,12,40.807832,-73.949373,31,-1.01,0,0,2,6.104116,3510,0.196907

In [31]:
def manhattan_distance(start_lat, start_lon, end_lat, end_lon):
    dist = distance((start_lat, start_lon), (start_lat, end_lon)).miles + \
           distance((end_lat, end_lon), (start_lat, end_lon)).miles
    return dist

In [32]:
low_bike_threshold = 1/3
high_bike_threshold = 2/3
max_distance = 2
max_bikes_rebalanced = 500
min_cargo_size = 3

In [33]:
data_low = final_df[final_df['avail_bikes_proportion'] <= low_bike_threshold]

In [34]:
data_high = final_df[final_df['avail_bikes_proportion'] >= high_bike_threshold]

In [35]:
data_low['deficit'] = round((low_bike_threshold - data_low['avail_bikes_proportion']) * data_low['tot_docks']).astype('int')

<ipython-input-35-d746bb208678>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_low['deficit'] = round((low_bike_threshold - data_low['avail_bikes_proportion']) * data_low['tot_docks']).astype('int')

In [36]:
data_high['surplus'] = round((data_high['avail_bikes_proportion'] - high_bike_threshold) * data_high['tot_docks']).astype('int')

<ipython-input-36-d9c66eeb9a9d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_high['surplus'] = round((data_high['avail_bikes_proportion'] - high_bike_threshold) * data_high['tot_docks']).astype('int')

In [37]:
data_low = data_low.sort_values(by = 'deficit', ascending = False)

In [38]:
data_high = data_high.sort_values(by = 'surplus', ascending = False)

In [39]:
rebalancing_dict = {}

In [40]:
low_copy = data_low.copy()
high_copy = data_high.copy()

In [41]:
bikes_rebalanced = 0
for low in low_copy.index:
    if low_copy.loc[low, 'deficit'] == 0:
        continue
    for high in high_copy.index:
        if high_copy.loc[high, 'surplus'] == 0:
            continue
        if manhattan_distance(low_copy.loc[low, 'latitude'], low_copy.loc[low, 'longitude'], 
                              high_copy.loc[high, 'latitude'], high_copy.loc[high, 'longitude']) < max_distance:
            stations_key = (low_copy.loc[low, 'dock_id'], high_copy.loc[high, 'dock_id'])
            change = min(low_copy.loc[low, 'deficit'], high_copy.loc[high, 'surplus'])
            low_copy.loc[low, 'deficit'] -= change
            high_copy.loc[high, 'surplus'] -= change
            bikes_rebalanced += change
            if stations_key in rebalancing_dict.keys():
                rebalancing_dict[stations_key] += change
            else:
                rebalancing_dict[stations_key] = change
            if low_copy.loc[low, 'deficit'] == 0:
                break

In [42]:
rebalancing_dict

{(3161, 3457): 8,
 (3161, 456): 6,
 (3161, 3318): 2,
 (3295, 3367): 6,
 (3295, 3318): 4,
 (3295, 3296): 4,
 (3164, 524): 11,
 (3164, 3132): 3,
 (3140, 3132): 3,
 (3140, 3296): 2,
 (3140, 3136): 5,
 (3140, 3459): 4,
 (3167, 3233): 5,
 (3167, 3458): 4,
 (3167, 3235): 3,
 (3146, 3459): 1,
 (3146, 3387): 5,
 (3146, 3379): 4,
 (3146, 3141): 2,
 (3437, 3502): 4,
 (3294, 3494): 3,
 (3294, 3500): 1,
 (3294, 3312): 1,
 (3294, 3338): 1,
 (3165, 164): 1,
 (3148, 3130): 2,
 (3452, 3093): 6,
 (3452, 3092): 3,
 (3375, 516): 4,
 (3375, 2017): 2,
 (3075, 3092): 3,
 (3075, 2001): 5,
 (3443, 3258): 5,
 (3443, 325): 2,
 (454, 267): 3,
 (454, 2012): 1,
 (454, 491): 1,
 (3077, 3090): 4,
 (3077, 3096): 2,
 (3358, 3409): 6,
 (448, 462): 6,
 (3044, 3416): 4,
 (3044, 437): 2,
 (365, 3409): 2,
 (365, 3373): 4,
 (3306, 3373): 3,
 (3306, 390): 3,
 (3310, 3477): 6,
 (3354, 3399): 6,
 (3365, 390): 3,
 (3365, 3324): 3,
 (3308, 337): 5,
 (3423, 3324): 3,
 (3423, 3335): 2,
 (389, 2001): 1,
 (389, 414): 4,
 (3124, 3123): 5,
 (3117, 3463): 5,
 (3449, 3096): 2,
 (3449, 539): 3,
 (3061, 437): 1,
 (3061, 343): 2,
 (3061, 3453): 1,
 (3061, 3066): 1,
 (3456, 3112): 3,
 (3456, 2002): 1,
 (3321, 337): 3,
 (3321, 3340): 1,
 (3396, 3340): 4,
 (3050, 3429): 3,
 (396, 3335): 3,
 (396, 3371): 1,
 (436, 243): 4,
 (416, 3371): 4,
 (400, 3467): 4,
 (397, 243): 1,
 (397, 3404): 3,
 (3094, 2002): 1,
 (3094, 3101): 2,
 (3094, 3103): 1,
 (174, 168): 4,
 (3102, 3103): 1,
 (291, 3467): 3,
 (469, 325): 2,
 (3048, 3419): 3,
 (3304, 3340): 1,
 (3304, 3317): 2,
 (241, 414): 1,
 (241, 3404): 2,
 (3315, 260): 3,
 (3241, 3455): 3,
 (3122, 3123): 1,
 (3405, 3317): 2,
 (421, 3419): 1,
 (421, 3486): 1,
 (275, 3486): 2,
 (120, 3486): 1,
 (120, 3410): 1,
 (245, 3410): 2,
 (3361, 3317): 1,
 (3361, 3352): 1,
 (238, 3467): 2,
 (216, 355): 2,
 (3249, 3420): 1,
 (312, 3467): 1,
 (3236, 462): 1,
 (406, 355): 1,
 (3080, 418): 1,
 (3326, 3477): 1,
 (3120, 168): 1,
 (3063, 392): 1}

In [43]:
sorted_rebalancing = dict(sorted(rebalancing_dict.items(), key=lambda x: x[1], reverse = True))

In [44]:
filtered_rebalancing = {key: value for key, value in sorted_rebalancing.items() if value >= min_cargo_size}

In [45]:
filtered_rebalancing

{(3164, 524): 11,
 (3161, 3457): 8,
 (3161, 456): 6,
 (3295, 3367): 6,
 (3452, 3093): 6,
 (3358, 3409): 6,
 (448, 462): 6,
 (3310, 3477): 6,
 (3354, 3399): 6,
 (3140, 3136): 5,
 (3167, 3233): 5,
 (3146, 3387): 5,
 (3075, 2001): 5,
 (3443, 3258): 5,
 (3308, 337): 5,
 (3124, 3123): 5,
 (3117, 3463): 5,
 (3295, 3318): 4,
 (3295, 3296): 4,
 (3140, 3459): 4,
 (3167, 3458): 4,
 (3146, 3379): 4,
 (3437, 3502): 4,
 (3375, 516): 4,
 (3077, 3090): 4,
 (3044, 3416): 4,
 (365, 3373): 4,
 (389, 414): 4,
 (3396, 3340): 4,
 (436, 243): 4,
 (416, 3371): 4,
 (400, 3467): 4,
 (174, 168): 4,
 (3164, 3132): 3,
 (3140, 3132): 3,
 (3167, 3235): 3,
 (3294, 3494): 3,
 (3452, 3092): 3,
 (3075, 3092): 3,
 (454, 267): 3,
 (3306, 3373): 3,
 (3306, 390): 3,
 (3365, 390): 3,
 (3365, 3324): 3,
 (3423, 3324): 3,
 (3449, 539): 3,
 (3456, 3112): 3,
 (3321, 337): 3,
 (3050, 3429): 3,
 (396, 3335): 3,
 (397, 3404): 3,
 (291, 3467): 3,
 (3048, 3419): 3,
 (3315, 260): 3,
 (3241, 3455): 3}

In [46]:
filtered_bikes_rebalanced = 0
final_rebalancing_dict = {}
for k, v in filtered_rebalancing.items():
    if filtered_bikes_rebalanced < max_bikes_rebalanced:
        final_rebalancing_dict[k] = v
        filtered_bikes_rebalanced += v

In [47]:
rebalancing_df = pd.DataFrame(final_rebalancing_dict.items(), columns = ['dock_ids', 'num_bikes'])

In [48]:
rebalancing_df[['dock_id_receive', 'dock_id_give']] = rebalancing_df['dock_ids'].tolist()
rebalancing_df.drop(['dock_ids'], axis = 1, inplace = True)

In [49]:
data_df = final_df[['dock_id', 'latitude', 'longitude']]

In [50]:
new_docks = new[['dock_id', 'dock_name']]

In [51]:
rebalancing_df = rebalancing_df.merge(data_df, how = 'left', left_on = 'dock_id_receive', right_on = 'dock_id').rename(
    columns = {'latitude': 'latitude_receive', 'longitude': 'longitude_receive'})
rebalancing_df = rebalancing_df.merge(data_df, how = 'left', left_on = 'dock_id_give', right_on = 'dock_id').rename(
    columns = {'latitude': 'latitude_give', 'longitude': 'longitude_give'})
rebalancing_df.drop(['dock_id_x', 'dock_id_y'], axis = 1, inplace = True)

In [52]:
rebalancing_df = rebalancing_df.merge(new_docks, how = 'left', left_on = 'dock_id_receive', right_on = 'dock_id').rename(
    columns = {'dock_name': 'dock_name_receive'})
rebalancing_df = rebalancing_df.merge(new_docks, how = 'left', left_on = 'dock_id_give', right_on = 'dock_id').rename(
    columns = {'dock_name': 'dock_name_give'})
rebalancing_df.drop(['dock_id_x', 'dock_id_y'], axis = 1, inplace = True)

In [53]:
GREEN_RGB = [0, 255, 0, 150]
RED_RGB = [240, 100, 0, 150]

# Specify a deck.gl ArcLayer
arc_layer = pdk.Layer(
    "ArcLayer",
    data = rebalancing_df,
    get_width="num_bikes",
    get_source_position=["longitude_give", "latitude_give"],
    get_target_position=["longitude_receive", "latitude_receive"],
    get_tilt=15,
    get_source_color=GREEN_RGB,
    get_target_color=RED_RGB,
    pickable=True,
    auto_highlight=True,
)

view_state = pdk.ViewState(latitude=40.74, longitude=-74, bearing=290, pitch=50, zoom=12)


TOOLTIP_TEXT = {"html": "{num_bikes} bikes need rebalancing from<br />{dock_name_give} to {dock_name_receive}"}
r = pdk.Deck(arc_layer, initial_view_state=view_state, tooltip=TOOLTIP_TEXT, map_style = 'light')
r.to_html("monday_12pm_rebalancing.html")
with open('monday_12pm_rebalancing.json', 'w') as outfile:
    json.dump(r.to_json(), outfile)

In [54]:
bikes_rebalanced

308

In [55]:
filtered_bikes_rebalanced

231

In [56]:
data_low['deficit'].sum()

713

In [57]:
data_high['surplus'].sum()

499

In [58]:
data_low.head(5)

,month,num_day,hour,latitude,longitude,tot_docks,tmp,rain,weekday_cluster,weekend_cluster,predictions,dock_id,avail_bikes_proportion,deficit
151,12,2,12,40.780184,-73.977285,59,-1.01,0,1,2,3.971548,3161,0.067314,16
182,12,2,12,40.791270,-73.964839,59,-1.01,0,1,2,5.765762,3295,0.097725,14
154,12,2,12,40.777057,-73.978985,67,-1.01,0,1,2,8.497000,3164,0.126821,14
143,12,2,12,40.771404,-73.953517,55,-1.01,0,4,0,4.437405,3140,0.080680,14
156,12,2,12,40.779668,-73.980930,55,-1.01,0,1,2,6.681357,3167,0.121479,12

In [59]:
data_high.head(5)

,month,num_day,hour,latitude,longitude,tot_docks,tmp,rain,weekday_cluster,weekend_cluster,predictions,dock_id,avail_bikes_proportion,surplus
303,12,2,12,40.724947,-74.001659,42,-1.01,0,2,0,39.315762,3467,0.936090,11
78,12,2,12,40.746920,-74.004519,47,-1.01,0,4,0,42.083595,462,0.895396,11
8,12,2,12,40.739713,-73.994564,47,-1.01,0,5,3,41.887616,168,0.891226,11
48,12,2,12,40.716021,-73.999744,43,-1.01,0,2,3,39.533929,355,0.919394,11
83,12,2,12,40.755273,-73.983169,57,-1.01,0,5,1,48.972833,524,0.859173,11

In [84]:
table = rebalancing_df[['dock_name_give', 'dock_name_receive', 'num_bikes']]
table = table.rename(columns = {'dock_name_give': 'dock_origin', 'dock_name_receive': 'dock_destination'})

In [86]:
table

,dock_origin,dock_destination,num_bikes
0,W 43 St & 6 Ave,Columbus Ave & W 72 St,11
1,E 58 St & Madison Ave,W 76 St & Columbus Ave,8
2,E 53 St & Madison Ave,W 76 St & Columbus Ave,6
3,5 Ave & E 103 St,Central Park W & W 96 St,6
4,N 6 St & Bedford Ave,Bayard St & Leonard St,6
5,Bergen St & Smith St,Garfield Pl & 8 Ave,6
6,W 22 St & 10 Ave,W 37 St & 10 Ave,6
7,39 St & 2 Ave - Citi Bike HQ at Industry City,14 St & 7 Ave,6
8,7 St & 3 Ave,3 St & Prospect Park West,6
9,5 Ave & E 63 St,1 Ave & E 78 St,5
10,E 48 St & 5 Ave,Amsterdam Ave & W 73 St,5
11,E 106 St & Madison Ave,E 81 St & 3 Ave,5
12,Sands St & Navy St,Division Ave & Marcy Ave,5
13,W 27 St & 10 Ave,W 52 St & 6 Ave,5
14,Old Slip & Front St,Kane St & Clinton St,5
15,31 St & Thomson Ave,46 Ave & 5 St,5
16,E 16 St & Irving Pl,Franklin St & Dupont St,5
17,2 Ave & E 96 St,Central Park W & W 96 St,4
18,E 93 St & 2 Ave,Central Park W & W 96 St,4
19,E 53 St & 3 Ave,1 Ave & E 78 St,4
20,W 55 St & 6 Ave,Amsterdam Ave & W 73 St,4
21,E 103 St & Lexington Ave,E 81 St & 3 Ave,4
22,Lexington Ave & E 111 St,Riverside Dr & W 91 St,4
23,E 47 St & 1 Ave,3 Ave & E 72 St,4
24,N 8 St & Driggs Ave,Stagg St & Union Ave,4
25,7 Ave & Park Pl,Albany Ave & Fulton St,4
26,3 St & 3 Ave,Fulton St & Grand Ave,4
27,Pearl St & Anchorage Pl,Broadway & Berry St,4
28,Wolcott St & Dwight St,Clinton St & 4 Place,4
29,Fulton St & Rockwell Pl,Hancock St & Bedford Ave,4
30,4 Ave & 2 St,Cumberland St & Lafayette Ave,4
31,W Broadway & Spring Street,Pitt St & Stanton St,4
32,W 18 St & 6 Ave,E 25 St & 1 Ave,4
33,E 59 St & Madison Ave,Columbus Ave & W 72 St,3
34,E 59 St & Madison Ave,1 Ave & E 78 St,3
35,E 41 St & Madison Ave,Amsterdam Ave & W 73 St,3
36,E 115 St & Lexington Ave,E 91 St & Park Ave,3
37,Berry St & N 8 St,Bayard St & Leonard St,3
38,Berry St & N 8 St,Division Ave & Marcy Ave,3
39,Broadway & W 36 St,E 51 St & 1 Ave,3
40,3 St & 3 Ave,10 St & 7 Ave,3
41,Duffield St & Willoughby St,10 St & 7 Ave,3
42,Duffield St & Willoughby St,3 St & 7 Ave,3
43,3 Ave & 14 St,3 St & 7 Ave,3
44,3 Ave & 14 St,West Drive & Prospect Park West,3
45,Metropolitan Ave & Bedford Ave,Eckford St & Engert Ave,3
46,Milton St & Franklin St,Jackson St & Leonard St,3
47,Old Slip & Front St,Clinton St & Union St,3
48,Hanson Pl & Ashland Pl,Putnam Ave & Throop Ave,3
49,Union St & 4 Ave,Lefferts Pl & Franklin Ave,3
50,7 St & 5 Ave,Fulton St & Clermont Ave,3
51,W Broadway & Spring Street,Madison St & Montgomery St,3
52,Douglass St & 4 Ave,Putnam Ave & Nostrand Ave,3
53,Broad St & Bridge St,Henry St & Degraw St,3
54,Schermerhorn St & 3 Ave,Monroe St & Tompkins Ave,3

In [82]:
table_html = table.to_html()

text_file = open("rebalancing_table.html", "w")
text_file.write(table_html)
text_file.close()

AttributeError: 'NoneType' object has no attribute 'to_html'