In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn import tree
from sklearn import ensemble
randomForest = ensemble.RandomForestRegressor()

In [3]:
data = pd.read_csv('ML_table_with_availability_clusters.csv')

In [4]:
x = data[['month', 'num_day', 'hour', 'latitude', 'longitude', 'tot_docks', 
          'tmp', 'rain', 'weekday_cluster', 'weekend_cluster']]

In [5]:
y = data[['avail_bikes']]

In [6]:
np.random.seed(0)
x_train, x_test, y_train, y_test = train_test_split(x, y)

# Max_depth grid search
## Robert: 90, 100
## Charles: 70, 80
## Jung: 40, 50, 60
## Hugh: 5, 10, 15, 20, 30

In [7]:
params_forest = [{
    "max_depth": [5, 10, 15, 20, 30],
    "n_estimators": [100],
#    "min_samples_leaf": range(1, 10),
#    "min_samples_split": np.linspace(start=2, stop=30, num=15, dtype=int),
    "random_state": [0]}]
grid_search_forest = GridSearchCV(randomForest, params_forest, cv = 2, n_jobs=-1)
grid_search_forest.fit(x_train, y_train)

train_score = grid_search_forest.score(x_train, y_train)
test_score = grid_search_forest.score(x_test, y_test)
best_params = grid_search_forest.best_estimator_.get_params()

with open('random_forest.txt', 'w') as f:
    f.write('train score: {x} \n'.format(x = train_score))
    f.write('test score: {x} \n'.format(x = test_score))
    f.write('best parameters: {x}'.format(x = best_params))
    f.close()

/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

OSError: [Errno 28] No space left on device

In [9]:
grid_search_forest.best_estimator_.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'mse',
 'max_depth': 30,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 0,
 'verbose': 0,
 'warm_start': False}

In [ ]:
grid_search_forest.score(x_train, y_train)

In [ ]:
grid_search_forest.best_estimator_

# Alternate Clusters - Start Here

In [3]:
data = pd.read_csv('ML_table_with_availability_clusters.csv')
data

,Unnamed: 0,dock_id,dock_name,month,num_day,hour,latitude,longitude,avail_bikes,tot_docks,avail_bikes_proportion,tmp,rain,weekday_cluster,weekend_cluster
0,0,3478,2 Ave & 36 St - Citi Bike HQ at Industry City,5,3,0,40.657089,-74.008702,29,43,0.674419,8.9,0,2,3
1,1,3478,2 Ave & 36 St - Citi Bike HQ at Industry City,5,3,1,40.657089,-74.008702,29,43,0.674419,9.4,0,2,3
2,2,3478,2 Ave & 36 St - Citi Bike HQ at Industry City,5,3,1,40.657089,-74.008702,29,43,0.674419,9.4,0,2,3
3,3,3478,2 Ave & 36 St - Citi Bike HQ at Industry City,5,3,2,40.657089,-74.008702,29,43,0.674419,9.4,0,2,3
4,4,3478,2 Ave & 36 St - Citi Bike HQ at Industry City,5,3,2,40.657089,-74.008702,29,43,0.674419,9.4,0,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2869979,2869979,258,DeKalb Ave & Vanderbilt Ave,12,7,6,40.689407,-73.968855,19,24,0.791667,10.0,1,1,2
2869980,2869980,258,DeKalb Ave & Vanderbilt Ave,12,7,7,40.689407,-73.968855,18,24,0.750000,8.9,1,1,2
2869981,2869981,258,DeKalb Ave & Vanderbilt Ave,12,7,7,40.689407,-73.968855,18,24,0.750000,8.9,1,1,2
2869982,2869982,258,DeKalb Ave & Vanderbilt Ave,12,7,8,40.689407,-73.968855,18,24,0.750000,9.4,1,1,2
2869983,2869983,258,DeKalb Ave & Vanderbilt Ave,12,7,9,40.689407,-73.968855,18,24,0.750000,8.9,1,1,2

In [5]:
new_clusters = pickle.load(open('../clusters.pkl', 'rb'))
new_clusters

     dock_id  cluster
0        521        1
1        224        1
2        419        1
3        454        1
4        337        1
..       ...      ...
728     3454        0
729     3496        0
730     3509        0
731     3394        0
732     3493        0

[733 rows x 2 columns]

In [7]:
data = pd.merge(data,new_clusters, how = 'left', on = 'dock_id')
data

,Unnamed: 0,dock_id,dock_name,month,num_day,hour,latitude,longitude,avail_bikes,tot_docks,avail_bikes_proportion,tmp,rain,weekday_cluster,weekend_cluster,cluster
0,0,3478,2 Ave & 36 St - Citi Bike HQ at Industry City,5,3,0,40.657089,-74.008702,29,43,0.674419,8.9,0,2,3,0
1,1,3478,2 Ave & 36 St - Citi Bike HQ at Industry City,5,3,1,40.657089,-74.008702,29,43,0.674419,9.4,0,2,3,0
2,2,3478,2 Ave & 36 St - Citi Bike HQ at Industry City,5,3,1,40.657089,-74.008702,29,43,0.674419,9.4,0,2,3,0
3,3,3478,2 Ave & 36 St - Citi Bike HQ at Industry City,5,3,2,40.657089,-74.008702,29,43,0.674419,9.4,0,2,3,0
4,4,3478,2 Ave & 36 St - Citi Bike HQ at Industry City,5,3,2,40.657089,-74.008702,29,43,0.674419,9.4,0,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2869979,2869979,258,DeKalb Ave & Vanderbilt Ave,12,7,6,40.689407,-73.968855,19,24,0.791667,10.0,1,1,2,1
2869980,2869980,258,DeKalb Ave & Vanderbilt Ave,12,7,7,40.689407,-73.968855,18,24,0.750000,8.9,1,1,2,1
2869981,2869981,258,DeKalb Ave & Vanderbilt Ave,12,7,7,40.689407,-73.968855,18,24,0.750000,8.9,1,1,2,1
2869982,2869982,258,DeKalb Ave & Vanderbilt Ave,12,7,8,40.689407,-73.968855,18,24,0.750000,9.4,1,1,2,1
2869983,2869983,258,DeKalb Ave & Vanderbilt Ave,12,7,9,40.689407,-73.968855,18,24,0.750000,8.9,1,1,2,1

In [8]:
x = data[['month', 'num_day', 'hour', 'latitude', 'longitude', 'tot_docks', 
          'tmp', 'rain', 'cluster']]
x

,month,num_day,hour,latitude,longitude,tot_docks,tmp,rain,cluster
0,5,3,0,40.657089,-74.008702,43,8.9,0,0
1,5,3,1,40.657089,-74.008702,43,9.4,0,0
2,5,3,1,40.657089,-74.008702,43,9.4,0,0
3,5,3,2,40.657089,-74.008702,43,9.4,0,0
4,5,3,2,40.657089,-74.008702,43,9.4,0,0
...,...,...,...,...,...,...,...,...,...
2869979,12,7,6,40.689407,-73.968855,24,10.0,1,1
2869980,12,7,7,40.689407,-73.968855,24,8.9,1,1
2869981,12,7,7,40.689407,-73.968855,24,8.9,1,1
2869982,12,7,8,40.689407,-73.968855,24,9.4,1,1
2869983,12,7,9,40.689407,-73.968855,24,8.9,1,1

In [9]:
y = data[['avail_bikes']]

In [10]:
np.random.seed(0)
x_train, x_test, y_train, y_test = train_test_split(x, y)

# Skip RF

In [11]:
randomForest.set_params(max_depth = 30)
randomForest.fit(x_train, y_train)
print(randomForest.score(x_train, y_train))
print(randomForest.score(x_test, y_test))

<ipython-input-11-198799efce0f>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  randomForest.fit(x_train, y_train)

NameError: name 'randomforest' is not defined

In [12]:
print(randomForest.score(x_train, y_train))
print(randomForest.score(x_test, y_test))

0.9676962656734115
0.8594449249994237

In [13]:
randomForest.feature_importances_

array([0.12167073, 0.12870539, 0.16320394, 0.14966877, 0.15194964,
       0.09906815, 0.16016727, 0.01348296, 0.01208315])

In [14]:
pd.Series(randomForest.feature_importances_, index = x.columns)

month        0.121671
num_day      0.128705
hour         0.163204
latitude     0.149669
longitude    0.151950
tot_docks    0.099068
tmp          0.160167
rain         0.013483
cluster      0.012083
dtype: float64

# Hugh - Alt Clusters - Gradient - Learning Rate [ 0.1, .05] -  Max Depth [1, 3, 5 ] 
# Jung - Alt Clusters - Gradient - Learning Rate [.01, .001] -  Max Depth [1, 3, 5 ] 
# Chuck - Original Clusters  - [.1, .01, .001] - Max Depth - Max Depth [1 , 3]
# Rob - Original Clusters - RF - increase n - estimators

In [7]:
from sklearn.ensemble import GradientBoostingRegressor

In [11]:
params = [{
    "max_depth": [1, 3],
    "n_estimators": [100],
    "learning_rate": [0.1, 0.1,.001],
    "random_state": [0]}]
gbm = GradientBoostingRegressor()
grid_search = GridSearchCV(gbm,params, cv = 2, n_jobs=-1)
grid_search.fit(x_train, y_train)

print('The best parametere are: ', grid_search.best_params_)
print('Train Score: ', grid_search.score(x_train, y_train))
print('Test Score: ', grid_search.score(x_test, y_test))
      
with open('random_forest.txt', 'w') as f:
    f.write('train score: {x} \n'.format(x = grid_search.score(x_train, y_train)))
    f.write('test score: {x} \n'.format(x = grid_search.score(x_test, y_test)))
    f.write('best parameters: {x}'.format(x = grid_search.best_params_))

/Users/charlesphillips/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

The best parametere are:  {'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 100, 'random_state': 0}
Train Score:  0.3309850662947329
Test Score:  0.33130392662425556