In [5]:
import pandas as pd
import numpy as np

import sklearn
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [6]:
data = pd.read_parquet('./../data/data_for_tree_based_model/combined.parquet')

In [7]:
data.head()

,dock_id,dock_name,formatted_date,year,month,num_day,hour,latitude,longitude,avail_bikes,tot_docks,avail_bikes_proportion,tmp,rain
index,,,,,,,,,,,,,,
0,249,Harrison St & Hudson St,2015-09-28 23:00:00,2015,9,2,23,40.71871,-74.009001,0,27,0.000000,22.8,0.0
1,249,Harrison St & Hudson St,2016-03-25 17:00:00,2016,3,6,17,40.71871,-74.009001,0,27,0.000000,20.0,0.0
2,249,Harrison St & Hudson St,2018-04-01 23:00:00,2018,4,1,23,40.71871,-74.009001,9,27,0.333333,10.0,0.0
3,249,Harrison St & Hudson St,2015-06-02 03:00:00,2015,6,3,3,40.71871,-74.009001,1,27,0.037037,11.1,1.0
4,249,Harrison St & Hudson St,2015-03-26 17:00:00,2015,3,5,17,40.71871,-74.009001,10,27,0.370370,10.0,1.0

In [8]:
subset = data[data['year'] >= 2018]

In [9]:
dock_to_lat_lon = subset[['dock_id', 'latitude', 'longitude']]

In [10]:
y = subset['avail_bikes']
X = subset[['month','num_day','latitude','longitude','tmp','rain']]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [19]:
rf = RandomForestRegressor(n_estimators = 100, max_features='sqrt',min_samples_leaf=100,verbose = 3)

In [20]:
rf.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

building tree 1 of 100

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    3.6s remaining:    0.0s

building tree 2 of 100

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    6.9s remaining:    0.0s

building tree 3 of 100
building tree 4 of 100
building tree 5 of 100
building tree 6 of 100
building tree 7 of 100
building tree 8 of 100
building tree 9 of 100
building tree 10 of 100
building tree 11 of 100
building tree 12 of 100
building tree 13 of 100
building tree 14 of 100
building tree 15 of 100
building tree 16 of 100
building tree 17 of 100
building tree 18 of 100
building tree 19 of 100
building tree 20 of 100
building tree 21 of 100
building tree 22 of 100
building tree 23 of 100
building tree 24 of 100
building tree 25 of 100
building tree 26 of 100
building tree 27 of 100
building tree 28 of 100
building tree 29 of 100
building tree 30 of 100
building tree 31 of 100
building tree 32 of 100
building tree 33 of 100
building tree 34 of 100
building tree 35 of 100
building tree 36 of 100
building tree 37 of 100
building tree 38 of 100
building tree 39 of 100
building tree 40 of 100
building tree 41 of 100
building tree 42 of 100
building tree 43 of 100
building tree 44 of 100
building tree 45 of 100
building tree 46 of 100
building tree 47 of 100
building tree 48 of 100
building tree 49 of 100
building tree 50 of 100
building tree 51 of 100
building tree 52 of 100
building tree 53 of 100
building tree 54 of 100
building tree 55 of 100
building tree 56 of 100
building tree 57 of 100
building tree 58 of 100
building tree 59 of 100
building tree 60 of 100
building tree 61 of 100
building tree 62 of 100
building tree 63 of 100
building tree 64 of 100
building tree 65 of 100
building tree 66 of 100
building tree 67 of 100
building tree 68 of 100
building tree 69 of 100
building tree 70 of 100
building tree 71 of 100
building tree 72 of 100
building tree 73 of 100
building tree 74 of 100
building tree 75 of 100
building tree 76 of 100
building tree 77 of 100
building tree 78 of 100
building tree 79 of 100
building tree 80 of 100
building tree 81 of 100
building tree 82 of 100
building tree 83 of 100
building tree 84 of 100
building tree 85 of 100
building tree 86 of 100
building tree 87 of 100
building tree 88 of 100
building tree 89 of 100
building tree 90 of 100
building tree 91 of 100
building tree 92 of 100
building tree 93 of 100
building tree 94 of 100
building tree 95 of 100
building tree 96 of 100
building tree 97 of 100
building tree 98 of 100
building tree 99 of 100
building tree 100 of 100

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  6.8min finished

RandomForestRegressor(max_features='sqrt', min_samples_leaf=100, verbose=3)

In [21]:
rf.score(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    1.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:   54.6s finished

0.44169960989238977